@using System.Diagnostics;
@using System.Reflection;

<footer id="footer" class="footer navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="text-center">
                    <p>
                        <small>
                            While we provide these services for free, sadly that doesn't make the cost magically go away.  If you think we are doing a great job and would like to say thanks, we would greatly appreciate a small donation.
                        </small>
                    </p>
                    <!form class="form-inline">
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MBG93VKQ343P4" role="button" class="btn btn-default btn-sm" title="Paypal Donation">Paypal</a>
                        <a href="https://www.patreon.com/teknik" role="button" class="btn btn-default btn-sm" title="Gratipay">Patreon</a>
                        <a href="http://www.redbubble.com/people/teknikio" role="button" class="btn btn-default btn-sm" title="Teknik Redbubble Marketplace">Redbubble</a>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-bitcoin"></i></span>
                                <input type="text" class="form-control input-sm" name="bitcoin_address_footer" id="bitcoin_address_footer" value="@Config.BitcoinAddress" readonly>
                            </div>
                        </div>
                    </!form>
                </div>
            </div>
        </div>
        <br />
        @{
            Assembly assembly = Assembly.GetEntryAssembly();
            FileVersionInfo fileVersionInfo = FileVersionInfo.GetVersionInfo(assembly.Location);

            string verNum = string.Empty;
            string commitVer = string.Empty;
            string commitHash = string.Empty;

            if (!string.IsNullOrEmpty(fileVersionInfo.ProductVersion))
            {
                string[] fullVersion = fileVersionInfo.ProductVersion.Split('+');
                if (fullVersion.Count() > 1)
                {
                    verNum = fullVersion[0];
                    string commitStr = fullVersion[1];

                    commitVer = commitStr.Split('.')[0];
                    commitHash = commitStr.Split('.').Last();
                }
            }
        }
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 text-left text-muted">
                &copy; Teknik 2013-2018 | <a href="@Url.SubRouteUrl("faq", "FAQ.Index")">FAQ</a> | <a href="@Url.SubRouteUrl("privacy", "Privacy.Index")">Privacy</a> | <a href="@Url.SubRouteUrl("tos", "TOS.Index")">TOS</a> | <a href="@Url.SubRouteUrl("abuse", "Abuse.Index")">Abuse</a> | <a href="@Url.SubRouteUrl("stats", "Stats.Index")">Statistics</a>
            </div>
            <div class="col-sm-5 text-right text-muted">
                <div id="pagetime" style="display:none;">
                    Gen: <b><span id="generatetime">0.0</span>ms</b> Load: <b><span id="loadtime">0.0</span>ms</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center text-muted">
                Version: @string.Format("{0}.{1}", verNum, commitVer) - Hash: <a href="http://git.teknik.io/Teknikode/Teknik/src/@commitHash">@commitHash.Truncate(10)</a>
            </div>
        </div>
    </div>
</footer>
