@using System.Diagnostics;
@using System.Reflection;
@using Teknik.Helpers;

<footer id="footer" class="footer navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="text-center">
                    <p>
                        <small>
                            While we provide these services for free, sadly that doesn't make the cost magically go away.  If you think we are doing a great job and would like to say thanks, we would greatly appreciate a small donation.
                        </small>
                    </p>
                    <form class="form-inline">
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MBG93VKQ343P4">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-paypal"></i></button>
                        </a>
                        <a href="https://gratipay.com/~uncled1023/">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-gratipay"></i></button>
                        </a>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-bitcoin"></i></span>
                                <input type="text" class="form-control input-sm" name="bitcoin_address" value="@Model.Config.BitcoinAddress" readonly>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br />
        @{
            Assembly assembly = ViewContext.Controller.GetType().Assembly;
            FileVersionInfo fileVersionInfo = FileVersionInfo.GetVersionInfo(assembly.Location);
            string fullVersion = fileVersionInfo.ProductVersion;
            string verNum = fullVersion.Split('+')[0];
            string commitStr = fullVersion.Split('+')[1];
            string commitVer = commitStr.Split('.')[0];
            string commitHash = commitStr.Split('.').Last();
        }
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 text-left text-muted">
                &copy; Teknik 2013-2016 | <a href="@Url.SubRouteUrl("privacy", "Privacy.Index")">Privacy</a> | <a href="@Url.SubRouteUrl("tos", "TOS.Index")">TOS</a> | <a href="@Url.SubRouteUrl("transparency", "Transparency.Index")">Transparency</a>
            </div>
            <div class="col-sm-5 text-right text-muted">
                <div id="pagetime" style="display:none;">
                    Gen: <b><span id="generatetime">0.0</span>ms</b> Load: <b><span id="loadtime">0.0</span>ms</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center text-muted">
                Version: @string.Format("{0}.{1}", verNum, commitVer) - Hash: <a href="http://git.teknik.io/Teknikode/Teknik/src/@commitHash">@commitHash.Truncate(10)</a>
            </div>
        </div>
    </div>
</footer>
