<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Character Set -->       
        <meta charset="UTF-8">
        
        <!-- Compatability --> 
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Website Info -->
        <meta name="description" content="@ViewBag.Description" />
        <meta name="author" content="@Config.Author" />

        <!-- Robots -->
        <meta name="robots" content="index,follow,noodp"><!-- All Search Engines -->

        <!-- Site Verification Tags -->
        <meta name="google-site-verification" content="X54N1YTsjgOc7hivpZK7RRKyvhGwaTI4BoFfxqOLlbc" />
        <meta name='yandex-verification' content='6f209fa6f1b4114c' /> 
        <meta name="wot-verification" content="e858b91d99b767ad70db" /> 

        <!-- Start of page 'load' -->
        <script>
            var startTime = new Date();
        </script>

        <!-- Main Page Title -->
        <title>
            @if (string.IsNullOrEmpty(ViewBag.Title))
            {
                <text>@Config.Title</text>
            }
            else
            {
                <text>@ViewBag.Title | @Config.Title</text>
            }
        </title>

        <!-- Favicon -->
        <link href="@Url.SubRouteUrl("www", "Default.Favicon")" rel="shortcut icon" type="image/x-icon" />
        <link href="@Url.SubRouteUrl("www", "Default.Favicon")" rel="apple-touch-icon-precomposed" />
        
        <bundle src="css/common.min.css" append-version="true"></bundle>
        <bundle src="js/common.min.js" append-version="true"></bundle>
    </head>
    <body data-twttr-rendered="true">
        <div id="wrap">
            @await Html.PartialAsync("_Navbar")
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div id="top_msg"></div>
                    </div>
                </div>
            </div>
            <!-- NoScript Alert -->
            <noscript>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="alert alert-danger">
                                <span><strong>Notice: </strong> JavaScript is not enabled. To experience the site at its best, <a href="http://enable-javascript.com/" class="alert-link">please enable JavaScript</a>.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </noscript>
            <!-- Anti-Forgery Token -->
            <!-- used for ajax in AddAntiForgeryToken() -->
            <!form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</!form>
            @RenderBody()
        </div>
        @await Html.PartialAsync("_Footer")

        <script>
            $(document).ready(function () { pageloadDoTimer(); });
        </script>
    </body>
</html>
