@model Teknik.ViewModels.ViewModelBase

@Html.Partial("../../Areas/User/Views/User/_LoginModalPartial", Model)
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.SubRouteUrl("www", "Home.Index")"><img src="/Images/logo-black.svg" height="20" alt="Teknik"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="@Url.GetActive("www", string.Empty)"><a href="@Url.SubRouteUrl("www", "Home.Index")">Home</a></li>
                <li class="@Url.GetActive("about")"><a href="@Url.SubRouteUrl("about", "About.Index")">About</a></li>
                <li class="divider-vertical"></li>

                <li class="dropdown">
                    <a href="#" id="services_menu" class="dropdown-toggle" data-toggle="dropdown">Services <strong class="caret"></strong></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="services_menu">
                        <li class="@Url.GetActive("blog")">
                            <a href="@Url.SubRouteUrl("blog", "Blog.Blog", new { username = string.Empty })">Blog</a>
                        </li>
                        <li class="@Url.GetActive("podcast")">
                            <a href="@Url.SubRouteUrl("podcast", "Podcast.Index")">Podcast</a>
                        </li>
                        <li class="divider"></li>
                        <li class="@Url.GetActive("upload", "u")">
                            <a href="@Url.SubRouteUrl("upload", "Upload.Index")">Upload</a>
                        </li>
                        <li class="@Url.GetActive("paste", "p")">
                            <a href="@Url.SubRouteUrl("paste", "Paste.Index")">Paste</a>
                        </li>
                        <li class="@Url.GetActive("shorten", "s")">
                            <a href="@Url.SubRouteUrl("shorten", "Shortener.Index")">Shorten Url</a>
                        </li>
                        <li class="@Url.GetActive("git")">
                            <a href="@Model.Config.GitConfig.Host">Git</a>
                        </li>
                        <li class="@Url.GetActive("mail")">
                            <a href="@Url.SubRouteUrl("mail", "Mail.Index")" target="_blank">Mail</a>
                        </li>
                        <li class="@Url.GetActive("mumble")">
                            <a href="mumble://mumble.@(Model.Config.Host):64738/?version=1.2.5" target="_blank">Mumble</a>
                        </li>
                    </ul>
                </li>
                <li class="@Url.GetActive("contact")">
                    <a href="@Url.SubRouteUrl("contact", "Contact.Index")">Contact</a>
                </li>
                <li class="@Url.GetActive("help")">
                    <a href="@Url.SubRouteUrl("help", "Help.Index")">Help</a>
                </li>
            </ul>
            @Html.Partial("../../Areas/User/Views/User/_LoginPartial", Model)
        </div>
    </div>
</div>
