@model Teknik.Areas.Blog.ViewModels.BlogViewModel

@using Teknik.Helpers

<script>
    // We need to define the action URLs for the script

    var uploadURL = '@Url.SubRouteUrl("upload", "Upload.Upload")';

    var getPostsURL = '@Url.SubRouteUrl("blog", "Blog.Action", new { action = "GetPosts" })';
    var publishPostURL = '@Url.SubRouteUrl("blog", "Blog.Action", new { action = "PublishPost" })';
    var deletePostURL = '@Url.SubRouteUrl("blog", "Blog.Action", new { action = "DeletePost" })';

    var getCommentsURL = '@Url.SubRouteUrl("blog", "Blog.Action", new { action = "GetComments" })';
    var getCommentArticleURL = '@Url.SubRouteUrl("blog", "Blog.Action", new { action = "GetCommentArticle" })';
    var addCommentURL = '@Url.SubRouteUrl("blog", "Blog.Action", new { action = "CreateComment" })';
    var editCommentURL = '@Url.SubRouteUrl("blog", "Blog.Action", new { action = "EditComment" })';
    var deleteCommentURL = '@Url.SubRouteUrl("blog", "Blog.Action", new { action = "DeleteComment" })';
</script>

@Styles.Render("~/Content/blog")
@Scripts.Render("~/bundles/blog")

<div class="container">
    @if (!Model.Error)
    {
        <div class="row">
            <div class="col-sm-12 blog-heading">
                <h1 class="blog-title text-center">@Model.Title</h1>
                <p class="lead blog-description text-center text-muted">@Model.Description</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>
                    <a href="@Url.SubRouteUrl("rss", "RSS.Blog", new { username = (Model.BlogId == Model.Config.BlogConfig.ServerBlogId) ? string.Empty : Model.User.Username })"><i class="fa fa-rss fa-2x fa-border"></i></a>
                </p>
            </div>
        </div>
        if (User.IsInRole("Admin") || (Model.User != null && Model.User.Username == User.Identity.Name))
        {
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="@Url.SubRouteUrl("blog", "Blog.New", new { username = Model.User.Username })" role="button" class="btn btn-primary">Create Post</a>
            </div>
        </div>
        }

        if (Model.HasPosts)
        {
            <div class="blog-main" id="@Model.BlogId"></div>
            <script>
                var posts = @Model.Config.BlogConfig.PostsToLoad;
                var start_post = 0;
                loadMorePosts(start_post, posts);
                start_post = start_post + posts;
            </script>
        }
        else
        {
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>There are currently no articles.</h2>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>That blog does not exist!</h2>
            </div>
        </div>
    }
</div>