@model Teknik.Areas.Blog.ViewModels.CommentViewModel

@using Teknik.Utilities

<hr>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="post-comment">
            <p class="post-comment-meta text-muted">
                <a href="@Url.SubRouteUrl("user", "User.ViewProfile", new { username = Model.User.Username })">@Model.User.Username</a> replied at <time datetime="@Model.DatePosted.ToString("s")">@Model.DatePosted.ToString("hh:mm:ss tt") on @Model.DatePosted.ToString("MMMM dd, yyyy")</time>
                @if (Model.User.Username == User.Identity.Name || User.IsInRole("Admin"))
                {
                    <br />
                    <button type="button" class="btn btn-info edit_comment" id="@Model.CommentId" data-toggle="modal" data-target="#editComment">Edit</button>
                    <button type="button" class="btn btn-danger delete_comment" id="@Model.CommentId">Delete</button>
                }
            </p>
            <p id="comment_@Model.CommentId">@Html.Markdown(Model.Article)</p>
        </div>
    </div>
</div>