@model Teknik.Areas.Blog.ViewModels.PostViewModel

<script>
    // We need to define the action URLs for the script
    var helpURL = '@Url.SubRouteUrl("help", "Help.Markdown")';
</script>

<bundle src="css/blog.min.css" append-version="true"></bundle>

<div class="container">
    @if (Model.Error)
    {
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <h2>Edit Post</h2>
        </div>
    </div>
    <!form class="form" action="@Url.SubRouteUrl("blog", "Blog.Action", new { action = "EditPost" })" method="post" id="newPost">
        <input name="PostID" id="postID" type="hidden" value="@Model.PostId" />
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <label for="title"><h4>Title</h4></label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <input class="form-control" name="Title" id="title" placeholder="generic click bait" title="enter a title for your post." type="text" value="@Model.Title" />
            </div>
            <div class="col-sm-5">
                <button type="submit" class="btn btn-primary pull-right" id="submit">Save</button>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">Article</div>
                    <div class="panel-body">
                        <div class="mdd_toolbar"></div>
                        <textarea class="form-control mdd_editor" name="Article" id="article" placeholder="I ate a burger today." title="enter any information you want to share with the world." data-provide="markdown" rows="20">@Model.Article</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">Preview</div>
                    <div class="panel-body">
                        <div class="mdd_preview"></div>
                    </div>
                </div>
            </div>
        </div>
    </!form>
</div>

<bundle src="js/blog.min.js" append-version="true"></bundle>
