@model Teknik.Areas.Blog.ViewModels.PostViewModel

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="blog-post">
            <h2 class="blog-post-title text-center"><a href="@Url.SubRouteUrl("blog", "Blog.Post", new { username = Model.Blog.User.Username, id = Model.PostId })" id="title_@Model.PostId">@Html.Markdown(@Model.Title)</a></h2>
            <p class="blog-post-meta text-center text-muted">
                Posted on <time datetime="@Model.DatePosted.ToString("s")">@Model.DatePosted.ToString("MMMM dd, yyyy")</time>
                @if (!Model.System)
                {
                    <text>
                    by <a href="@Url.SubRouteUrl("user", "User.ViewProfile", new { username = Model.Blog.User.Username })">@Model.Blog.User.Username</a> 
                    </text>
                }
                @if (Model.Comments.Any())
                {
                    @: - @Model.Comments.Count comment@(Model.Comments.Count > 1 ? "s" : "")
                }
                @if (Model.Blog.User.Username == User.Identity.Name || User.IsInRole("Admin"))
                {
                    <br />
                    <a href="@Url.SubRouteUrl("blog", "Blog.Edit", new { username = Model.Blog.User.Username, id = Model.PostId })" role="button" class="btn btn-primary">Edit</a>
                    if (Model.Published)
                    {
                        <button type="button" class="btn btn-warning unpublish_post" id="@Model.PostId">Unpublish</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-success publish_post" id="@Model.PostId">Publish</button>
                    }
                    <button type="button" class="btn btn-danger delete_post" id="@Model.PostId">Delete</button>
                }
            </p>
            <p id="post_@Model.PostId">@Html.Markdown(@Model.Article)</p>
        </div>
    </div>
</div>