@model Teknik.Areas.Blog.ViewModels.PostViewModel

@using Teknik.Helpers

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="blog-post">
            <h2 class="blog-post-title text-center"><a href="@Url.SubRouteUrl("blog", "Blog.Post", new { username = Model.Blog.User.Username, id = Model.PostId })" id="title_@Model.PostId">@Html.Markdown(@Model.Title)</a></h2>
            <p class="blog-post-meta text-center text-muted">
                Posted on <time datetime="@Model.DatePosted.ToString("o")">@Model.DatePosted.ToString("MMMM dd, yyyy")</time>
                @if (!Model.System)
                {
                    <text>
                    by <a href="@Url.SubRouteUrl("profile", "Profile.Index", new { username = Model.Blog.User.Username })">@Model.Blog.User.Username</a> 
                    </text>
                }
                @if (Model.Blog.User.Username == User.Identity.Name || User.IsInRole("Admin"))
                {
                    <br />
                    <button type="button" class="btn btn-info edit_post" id="@Model.PostId" data-toggle="modal" data-target="#editPost">Edit</button>
                    if (Model.Published)
                    {
                        <button type="button" class="btn btn-warning unpublish_post" id="@Model.PostId">Unpublish</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-success publish_post" id="@Model.PostId">Publish</button>
                    }
                    <button type="button" class="btn btn-danger delete_post" id="@Model.PostId">Delete</button>
                }
            </p>
            <p id="post_@Model.PostId">@Html.Markdown(@Model.Article)</p>
        </div>
    </div>
</div>