@model Teknik.Areas.Blog.ViewModels.PostViewModel

@using Teknik.Utilities

<script nonce="@Context.Items[Constants.NONCE_KEY]">
    // We need to define the action URLs for the script
    var uploadURL = '@Url.SubRouteUrl("upload", "Upload.Upload")';
    var helpURL = '@Url.SubRouteUrl("help", "Help.Markdown")';

    var getPostsURL = '@Url.SubRouteUrl("blog", "Blog.Action", new { action = "GetPosts" })';
    var publishPostURL = '@Url.SubRouteUrl("blog", "Blog.Action", new { action = "PublishPost" })';
    var deletePostURL = '@Url.SubRouteUrl("blog", "Blog.Action", new { action = "DeletePost" })';

    var getCommentsURL = '@Url.SubRouteUrl("blog", "Blog.Action", new { action = "GetComments" })';
    var getCommentArticleURL = '@Url.SubRouteUrl("blog", "Blog.Action", new { action = "GetCommentArticle" })';
    var addCommentURL = '@Url.SubRouteUrl("blog", "Blog.Action", new { action = "CreateComment" })';
    var editCommentURL = '@Url.SubRouteUrl("blog", "Blog.Action", new { action = "EditComment" })';
    var deleteCommentURL = '@Url.SubRouteUrl("blog", "Blog.Action", new { action = "DeleteComment" })';
</script>

@Styles.Render("~/Content/blog")
@Scripts.Render("~/bundles/blog")

<div class="container">
@if (!Model.Error)
{
    <ol class="breadcrumb">
        <li><a href="@Url.SubRouteUrl("blog", "Blog.Blog", new { username = (Model.System) ? string.Empty : Model.Blog.User.Username })">@((Model.System) ? Model.Config.BlogConfig.Title : (string.IsNullOrEmpty(Model.Blog.User.BlogSettings.Title) ? string.Format("{0}'s Blog", Model.Blog.User.Username) : Model.Blog.User.BlogSettings.Title))</a></li>
        <li class="active"><a href="#">@Model.Title</a></li>
    </ol>

    @Html.Partial("../../Areas/Blog/Views/Blog/Post", Model)

    if (Request.IsAuthenticated)
    {
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newComment">Add Comment</button>
        </div>
    </div>
    <br />
    <div class="modal fade" id="newComment" tabindex="-1" role="dialog" aria-labelledby="newCommentLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form" action="##" method="post" id="publishComment">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
                        <h4 class="modal-title" id="newCommentLabel">Add a New Comment</h4>
                    </div>
                    <div class="modal-body">
                        <input name="post_id" id="post_id" type="hidden" value="@Model.PostId" />
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="comment_post"><h4>Comment</h4></label>
                                <textarea class="form-control wmd-input" name="comment_post" id="comment_post" placeholder="Nice post!" title="enter what you think about the post." data-provide="markdown" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="comment_submit">Publish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editComment" tabindex="-1" role="dialog" aria-labelledby="editCommentLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form" action="##" method="post" id="editCommentForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
                        <h4 class="modal-title" id="editCommentLabel">Edit Your Comment</h4>
                    </div>
                    <div class="modal-body">
                        <input name="edit_comment_postid" id="edit_comment_postid" type="hidden" />
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="edit_comment_post"><h4>Comment</h4></label>
                                <textarea class="form-control" name="edit_comment_post" id="edit_comment_post" placeholder="What an interesting article!" title="enter what you thought about the article." data-provide="markdown" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="edit_comment_submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    }
    <a name="replies"></a>
    <div class="post-comments" id="@Model.PostId"></div>
    <script nonce="@Context.Items[Constants.NONCE_KEY]">
            linkPostDelete('.delete_post');
            linkPostPublish('.publish_post');
            linkPostUnpublish('.unpublish_post');

            var posts = @(Model.Config.BlogConfig.CommentsToLoad);
            var start_post = 0;
            var view_post_id = @(Model.PostId);
            loadMoreComments(start_post, posts);
            start_post = start_post + posts;
    </script>
}
else
{
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>@Model.ErrorMessage</h2>
        </div>
    </div>
}
</div>
