@model Teknik.Areas.Upload.ViewModels.DownloadViewModel

<script>
    var encScriptSrc = '@Url.FullURL("~/js/cryptoWorker.min.js")';
    var aesScriptSrc = '@Url.FullURL("~/js/crypto.min.js")';
    var downloadDataUrl = '@Url.SubRouteUrl(Model.CurrentSub, "Upload.Action", new { action = "DownloadData" })';
    var fileName = '@Model.FileName';
    var fileType = '@Model.ContentType';
    var iv = '@Model.IV';
    var decrypt = @Model.Decrypt.ToString().ToLower();
    var chunkSize = @(Config.UploadConfig.ChunkSize);
</script>

<!-- Add UI for downloading info -->
<div class="container">
    <div class="page-header text-center">
        <h1><strong>@Model.FileName</strong></h1>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="center-block">
                <dl class="dl-horizontal">
                    <dt>Content-Type</dt>
                    <dd>@Model.ContentType</dd>
                    <dt>File Size</dt>
                    <dd>@(StringHelper.GetBytesReadable(Model.ContentLength))</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row" id="progress-panel">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="progress" id="progress">
                        <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <span id="progress-info"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<bundle src="js/download.min.js" append-version="true"></bundle>
