@model Teknik.Areas.Upload.ViewModels.UploadViewModel

@using Teknik.Utilities
@using Teknik.Areas.Vault.Models

<script>
    var encScriptSrc = '@Scripts.Url("~/bundles/cryptoWorker")';
    var aesScriptSrc = '@Scripts.Url("~/bundles/crypto")';
    var uploadFileURL = '@Url.SubRouteUrl(Model.CurrentSub, "Upload.Action", new { action = "Upload" })';
    var maxUploadSize = @Model.Config.UploadConfig.MaxUploadSize;
    var chunkSize = @Model.Config.UploadConfig.ChunkSize;
    var keySize = @Model.Config.UploadConfig.KeySize;
    var blockSize = @Model.Config.UploadConfig.BlockSize;
    var shortenURL = '@Url.SubRouteUrl("shorten", "Shortener.Action", new { action = "ShortenUrl" })';
    var createVaultURL = '@Url.SubRouteUrl("vault", "Vault.NewVaultFromService", new { type = "Upload" })';
</script>

@Styles.Render("~/Content/upload")

<div class="container">
    <div class="row text-center">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row text-center">
                <div class="well well-lg text-center" id="uploadButton" style="cursor: pointer">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Drop your files here</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Or just click here</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Your Choice</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <label for="encrypt">Encrypt in Browser</label>
                    <input type="checkbox" name="encrypt" id="encrypt" @(Model.Encrypt ? "checked" : string.Empty) />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="upload-action-buttons" style="display: none">
        <div class="col-sm-12">
            <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-default btn-sm" id="copy-all"><i class="fa fa-clipboard"></i>&nbsp;Copy All Links</button>
                <button type="button" class="btn btn-default btn-sm" id="create-vault"><i class="fa fa-folder"></i>&nbsp;Create Vault</button>
                @if (User.Identity.IsAuthenticated && Model.Vaults != null && Model.Vaults.Any())
                {
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i>&nbsp;Add to Vault <span class="caret"></span></button>
                    <ul class="dropdown-menu" id="add-to-vault-menu">
                        @foreach (Vault item in Model.Vaults)
                        {
                            <li><a href="#" class="add-to-vault" data-add-to-vault-url="@Url.SubRouteUrl("vault", "Vault.EditVault", new { url = item.Url, type = "Upload" })">@item.Title</a></li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container" id="upload-links">
    </div>
    <br />
    <div class="well text-center">
        <p>
            Each file is encrypted on upload using an AES-256-CTR cipher.
        </p>
        <p>
            To view the file decrypted, you must use the direct Teknik link in a javascript enabled browser.
        </p>
        <p>
            The maximum file size per upload is <b>@StringHelper.GetBytesReadable(Model.Config.UploadConfig.MaxUploadSize)</b>
        </p>
    </div>
    <div class="text-center">
        Useful Tools: <a href="@Url.SubRouteUrl("help", "Help.Tools")">Upload Scripts and Utilities</a>
    </div>
</div>

<div id="templates" style="display: none">
    <div class="row" id="upload-template">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center" id="upload-header">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1" id="upload-title"></div>
                        <div class="col-sm-1">
                            <button type="button" class="close pull-right" id="upload-close"><i class="fa fa-times-circle"></i></button>
                        </div>
                    </div>
                </div>
                <div class="panel-body" id="upload-details">
                    <div class="row" id="upload-link-panel">
                        <input type="hidden" id="upload-url" />
                        <div class="col-sm-8">
                            <dl class="dl-horizontal">
                                <dt>Url</dt>
                                <dd><a href="#" id="upload-link" target="_blank" class="alert-link"></a></dd>
                                <dt>Content-Type</dt>
                                <dd id="upload-contentType"></dd>
                                <dt>File Size</dt>
                                <dd id="upload-contentLength"></dd>
                            </dl>
                        </div>
                        <div class="col-sm-4">
                            <div class="btn-group pull-right" role="group">
                                <button type="button" class="btn btn-default btn-sm" id="shortenUrl"><i class="fa fa-link"></i>&nbsp;Shorten</button>
                                <button type="button" class="btn btn-default btn-sm" id="delete-link"><i class="fa fa-trash"></i>&nbsp;Deletion Link</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="upload-progress-panel">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <div class="progress" id="progress">
                                        <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1 text-center">
                                    <span id="progress-info"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/upload")
