@model Teknik.Areas.Upload.ViewModels.UploadViewModel

<script>
    var encScriptSrc = '@Scripts.Url("~/bundles/cryptoWorker")';
    var aesScriptSrc = '@Scripts.Url("~/bundles/crypto")';
    var generateDeleteKeyURL = '@Url.SubRouteUrl("upload", "Upload.Action", new { action= "GenerateDeleteKey" })';
    var saveKeyToServerURL = '@Url.SubRouteUrl("upload", "Upload.Action", new { action= "SaveFileKey" })';
    var removeKeyFromServerURL = '@Url.SubRouteUrl("upload", "Upload.Action", new { action= "RemoveFileKey" })';
    var uploadFileURL = '@Url.SubRouteUrl("upload", "Upload.Action", new { action = "Upload" })';
    var maxUploadSize = @Model.Config.UploadConfig.MaxUploadSize;
    var chunkSize = @Model.Config.UploadConfig.ChunkSize;
    var keySize = @Model.Config.UploadConfig.KeySize;
    var blockSize = @Model.Config.UploadConfig.BlockSize;
</script>

@Styles.Render("~/Content/upload")

<div class="container">
    <div class="row text-center">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row text-center">
                <div class="well well-lg text-center" id="uploadButton" style="cursor: pointer">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Drop your files here</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Or just click here</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Your Choice</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container" id="upload-links">
    </div>
    <br />
    <div class="well text-center">
        <p>
            Each file is encrypted on upload using an AES-256-CTR cipher.
        </p>
        <p>
            To view the file decrypted, you must use the direct Teknik link in a javascript enabled browser or save the key to the server.
        </p>
        <p>
            The maximum file size per upload is <b>@Utility.GetBytesReadable(Model.Config.UploadConfig.MaxUploadSize)</b>
        </p>
    </div>
    <div class="text-center">
        Useful Tools: <a href="http://git.teknik.io/Teknikode/Tools/src/master/Upload">Upload Scripts and Utilities</a> | <a href="https://github.com/jschx/poomf">Poomf Uploader</a>
        <br />
        <br />
        You can now upload your screenshots automatically using <a href="https://github.com/KittyKatt/screenFetch">Screenfetch</a>!
    </div>
</div>

@Scripts.Render("~/bundles/upload")