@model Teknik.Areas.Admin.ViewModels.UserInfoViewModel

@using Teknik.Utilities

<script>
    // We need to define the action URLs for the script
    var editAccountType = '@Url.SubRouteUrl("admin", "Admin.Action", new { action = "EditUserAccountType" })';
    var username = '@Model.Username';
</script>

@Scripts.Render("~/bundles/UserInfo")

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <a href="@Url.SubRouteUrl("user", "User.ViewProfile", new { username = Model.Username })">@Model.Username</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">Account Type: 
            <select class="userAccountType">
                @{
                    foreach (AccountType value in Enum.GetValues(typeof(AccountType)))
                    {
                        <option @(value == Model.AccountType ? "selected" : string.Empty)>@value.ToString()</option>
                    }
                }
            </select>
        </div>
    </div>
</div>