@model Teknik.Areas.Users.ViewModels.RegisterViewModel

@if (Config.UserConfig.RegistrationEnabled)
{
    <div class="row">
        <div class="col-sm-12 text-center">
            <div id="registerStatus">
                @if (Model.Error)
                {
                    <div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>@Model.ErrorMessage</div>
                }
            </div>
        </div>
    </div>
    <!form id="registrationForm" action="@Url.SubRouteUrl("user", "User.Register")" method="post" accept-charset="UTF-8">
        <input name="Register.ReturnUrl" id="registerReturnUrl" type="hidden" value="@Model.ReturnUrl" />
        <div class="form-group">
            <label for="registerUsername">Username</label>
            <input type="text" class="form-control" id="registerUsername" value="" placeholder="Bob" name="Register.Username" data-val-required="The Username field is required." data-val="true"/>
        </div>
        <div class="form-group">
            <label for="registerPassword">Password</label>
            <input type="password" class="form-control" id="registerPassword" value="" placeholder="********" name="Register.Password" data-val-required="The Password field is required." data-val="true"/>
        </div>
        <div class="form-group">
            <label for="registerConfirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="registerConfirmPassword" value="" placeholder="********" name="Register.ConfirmPassword" data-val-required="The Confirm Password field is required." data-val="true"/>
        </div>
        <div class="form-group">
            <label for="registerInviteCode">Invite Code@(Config.UserConfig.InviteCodeRequired ? string.Empty : " (Optional)")</label>
            <input type="text" class="form-control" id="registerInviteCode" value="@Model.InviteCode" placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" name="Register.InviteCode"/>
        </div>
        <div class="form-group">
            <label for="registerRecoveryEmail">Recovery Email (Optional)</label>
            <input type="text" class="form-control" id="registerRecoveryEmail" value="" placeholder="user@example.com" name="Register.RecoveryEmail"/>
        </div>
        <p class="text-center">
            <small>
                Username must meet the following requirements: <var>@Config.UserConfig.UsernameFilterLabel</var><br />
                and the length must be greater than <b>@Config.UserConfig.MinUsernameLength</b> and less than <b>@Config.UserConfig.MaxUsernameLength</b> characters
            </small>
        </p>
        <p class="text-center">
            By registering for Teknik, you agree to the <a href="@Url.SubRouteUrl("tos", "TOS.Index")" target="_blank">Terms of Service</a>.
        </p>
        <div class="form-group text-center">
            <button class="btn btn-primary" id="registerSubmit" type="submit" name="Register.Submit">Sign Up</button>
        </div>
    </!form>
}
else
{
<h3>Registration has been disabled</h3>
}
