@model Teknik.Areas.Users.ViewModels.AuthTokenViewModel

<li class="list-group-item" id="authToken_@Model.AuthTokenId">
    <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
        <button type="button" class="btn btn-default" onclick="editAuthToken(@Model.AuthTokenId)">Edit</button>
        <button type="button" class="btn btn-danger text-danger" onclick="deleteAuthToken(@Model.AuthTokenId)">Delete</button>
    </div>
    <h4 class="list-group-item-heading" id="authTokenName_@Model.AuthTokenId">@Model.Name</h4>
    @if (Model.LastDateUsed.HasValue)
    {
    <p class="list-group-item-text">Last Used on <i><time datetime="@Model.LastDateUsed.Value.ToString("s")">@Model.LastDateUsed.Value.ToString("MMMM dd, yyyy hh:mm tt")</time></i></p>
    }
    else
    {
        <p class="list-group-item-text">Last Used <i>Never</i></p>
    }
</li>
