@model Teknik.Areas.Users.ViewModels.BillingSettingsViewModel

@using Teknik.BillingCore.Models

@{
    Layout = "~/Areas/User/Views/User/Settings/Settings.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h2>Billing Information</h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-12">
        <a href="@Model.PortalUrl">Click here</a> to view/modify your billing information and invoices.</>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Active Subscriptions</h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="activeSubscriptions" style="overflow-y: auto; max-height: 400px;">
            <ul class="list-group" id="activeSubscriptionList">
                @if (Model.Subscriptions.Any())
                {
                    foreach (var subscription in Model.Subscriptions)
                    {
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">@subscription.ProductName: <strong>@(StringHelper.GetBytesReadable(subscription.Storage))</strong> for <strong>@($"${subscription.Price:0.00} / {subscription.Interval}")</strong></h4>
                        <p><a href="@(Url.SubRouteUrl("billing", "Billing.CancelSubscription", new { subscriptionId = subscription.SubscriptionId, productId = subscription.ProductId }))">Cancel Subscription</a></p>
                    </li>
                    }
                }
                else
                {
                    <li class="list-group-item text-center">No Active Subscriptions</li>
                }
            </ul>
        </div>
    </div>
</div>
