@model Teknik.Areas.Users.ViewModels.ProfileSettingsViewModel

@using Teknik.Utilities
@using Teknik.Areas.Users.ViewModels

@{
    Layout = "~/Areas/User/Views/User/Settings/Settings.cshtml";
}

<script nonce="@Context.Items[Constants.NONCE_KEY]">
    var editURL = '@Url.SubRouteUrl("user", "User.Action", new { action = "EditProfile" })';
</script>

@Styles.Render("~/Content/user/settings/profile")
@Scripts.Render("~/bundles/user/settings/profile")

<form class="form" action="##" method="post" id="updateForm">
    <div class="row">
        <div class="form-group col-sm-4">
            <label for="update_website"><h4>Website</h4></label>
            <input class="form-control" id="update_website" name="update_website" placeholder="http://www.noneofyourbusiness.com/" title="enter your website" type="text" value="@Model.Website" />
        </div>
        <div class="form-group col-sm-8">
            <label for="update_quote"><h4>Quote</h4></label>
            <input class="form-control" id="update_quote" name="update_quote" placeholder="I have a dream!" title="enter a memorable quote" type="text" value="@Model.Quote" maxlength="140" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="update_about"><h4>About Yourself</h4></label>
            <textarea class="form-control" name="update_about" id="update_about" placeholder="I'm awesome" title="enter any information you want to share with the world." data-provide="markdown" rows="10">@Model.About</textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-10">
            <br />
            <button class="btn btn-lg btn-success" id="update_submit" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
            <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
        </div>
    </div>
</form>
