@model Teknik.Areas.Users.ViewModels.SecuritySettingsViewModel

@using Teknik.Areas.Users.ViewModels

@{
    Layout = "~/Areas/User/Views/User/Settings/Settings.cshtml";
}

<script>
    var homeUrl = '@Url.SubRouteUrl("www", "Home.Index")';
    var editURL = '@Url.SubRouteUrl("user", "User.Action", new { action = "EditSecurity" })';
    var resendVerifyURL = '@Url.SubRouteUrl("user", "User.Action", new { action = "ResendVerifyRecoveryEmail"})';
    var confirmAuthSetupURL = '@Url.SubRouteUrl("user", "User.Action", new { action = "VerifyAuthenticatorCode" })';
    var clearTrustedDevicesURL = '@Url.SubRouteUrl("user", "User.Action", new { action = "ClearTrustedDevices" })';
    var generateTokenURL = '@Url.SubRouteUrl("user", "User.Action", new { action = "GenerateToken" })';
    var revokeAllTokensURL = '@Url.SubRouteUrl("user", "User.Action", new { action = "RevokeAllTokens" })';
    var editTokenNameURL = '@Url.SubRouteUrl("user", "User.Action", new { action = "EditTokenName" })';
    var deleteTokenURL = '@Url.SubRouteUrl("user", "User.Action", new { action = "DeleteToken" })';
</script>

<bundle src="css/user.settings.security.min.css" append-version="true"></bundle>

<div class="modal fade" id="authenticatorSetup" tabindex="-1" role="dialog" aria-labelledby="authenticatorSetupLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="authSetupTitleLabel">Set Up a Third Party App to Generate Codes</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div id="authSetupStatus"></div>
                    </div>
                </div>
                <!form class="form" action="##" method="post" id="confirmAuthSetup">
                    <p>To get a third party app working, either scan the QR code below or type the secret key into the app.</p>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="text-muted">QR Code:</p>
                        </div>
                        <div class="col-sm-8">
                            <img id="authQRCode" src="@Url.SubRouteUrl("user", "User.Action", new { action = "GenerateAuthQrCode", key = Model.TwoFactorKey })" width="200" height="200" alt="qr code" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="text-muted">Secret Key:</p>
                        </div>
                        <div class="col-sm-8">
                            <span class="text-success" id="authSetupSecretKey">@Model.TwoFactorKey</span>
                        </div>
                    </div>
                    <hr />
                    <p>To confirm the third party app is set up correctly, enter the security code that appears on your phone.</p>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="text-muted">Security Code:</p>
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control" id="auth_setup_code" name="auth_setup_code" title="Authenticator Security Code" type="text" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group text-right">
                        <button class="btn btn-primary" id="auth_setup_verify" type="button" name="auth_setup_verify">Verify</button>
                    </div>
                </!form>
            </div>
        </div>
    </div>
</div>

<!form class="form" action="##" method="post" id="updateForm">
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="update_password_current"><h4>Current Password</h4></label>
                    <input class="form-control" name="update_password_current" id="update_password_current" placeholder="current password" title="enter your current password." type="password" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="update_password"><h4>New Password</h4></label>
                    <input class="form-control" name="update_password" id="update_password" placeholder="new password" title="enter your password." type="password" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="update_password_confirm"><h4>Verify New Password</h4></label>
                    <input class="form-control" name="update_password_confirm" id="update_password_confirm" placeholder="new password confirmed" title="enter your password again." type="password" />
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <label for="update_pgp_public_key"><h4>Public Key</h4></label>
            <textarea class="form-control" id="update_pgp_public_key" name="update_pgp_public_key" placeholder="Public Key Here" title="enter your pgp public key" rows="15">@Model.PgpPublicKey</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-left">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="update_recovery_email"><h4>Recovery Email</h4></label>
                    <input class="form-control" name="update_recovery_email" id="update_recovery_email" placeholder="user@example.com" title="enter a recovery email." type="text" value="@Model.RecoveryEmail" />
                    @if (!string.IsNullOrEmpty(Model.RecoveryEmail))
                    {
                        <p class="form-control-static">
                            @if (Model.RecoveryVerified)
                            {
                                <span class="text-success"><i class="fa fa-check"></i> Verified</span>
                            }
                            else
                            {
                                <span class="text-danger"><i class="fa fa-ban"></i> Unverified</span> <small><a href="#" class="text-primary" id="ResendVerification"><i class="fa fa-repeat"></i> Resend</a></small>
                            }
                        </p>
                    }
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12 text-left">
                    <label for="update_security_two_factor"><h4>Enable Two Factor Authentication</h4></label>
                    <div class="checkbox">
                        <label>
                            <input id="update_security_two_factor" name="update_security_two_factor" title="whether two factor authentication should occur for this account" type="checkbox" value="true" @(Model.TwoFactorEnabled ? "checked" : string.Empty) />
                        </label>
                    </div>
                    <p class="form-control-static @(Model.TwoFactorEnabled ? string.Empty : "hide")" id="setupAuthenticatorLink">
                        <small><a href="#" class="text-primary" id="SetupAuthenticator" data-toggle="modal" data-target="#authenticatorSetup"><i class="fa fa-lock"></i> Set Up Authenticator</a></small>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12 text-left">
                    <label for="update_security_allow_trusted"><h4>Allow Trusted Devices</h4></label>
                    <div class="checkbox">
                        <label>
                            <input id="update_security_allow_trusted" name="update_security_allow_trusted" title="whether a device could be cached to bypass two factor authentication" type="checkbox" value="true" @(Model.AllowTrustedDevices ? "checked" : string.Empty) />
                        </label>
                    </div>
                    <p class="form-control-static @(Model.AllowTrustedDevices ? string.Empty : "hide")" id="ClearDevicesLink">
                        <small><a href="#" class="text-primary" id="ClearDevices">Clear Trusted Devices (@Model.TrustedDeviceCount)</a></small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <br />
            <label for="authTokens"><h4>Authentication Tokens</h4></label><span class="pull-right"><button type="button" class="btn btn-default" id="generate_token">Generate Token</button> <button type="button" class="btn btn-danger" id="revoke_all_tokens">Revoke All</button></span>
            <div id="authTokens" style="overflow-y: auto; max-height: 400px;">
                <ul class="list-group" id="authTokenList">
                    @if (Model.AuthTokens.Any())
                    {
                        foreach (AuthTokenViewModel token in Model.AuthTokens)
                        {
                            @await Html.PartialAsync("Settings/AuthToken", token)
                        }
                    }
                    else
                    {
                        <li class="list-group-item text-center" id="noAuthTokens">No Authentication Tokens</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-10">
            <br />
            <button class="btn btn-lg btn-success" id="update_submit" type="submit">Save</button>
            <button class="btn btn-lg" type="reset">Reset</button>
        </div>
    </div>
</!form>

<bundle src="js/user.settings.security.min.js" append-version="true"></bundle>