@model Teknik.Areas.Users.ViewModels.SecuritySettingsViewModel

@using Teknik.Areas.Users.ViewModels

@{
    Layout = "~/Areas/User/Views/User/Settings/Settings.cshtml";
}

<script>
    var editURL = '@Url.SubRouteUrl("account", "User.Action", new { action = "EditSecurity" })';
    var resendVerifyURL = '@Url.SubRouteUrl("account", "User.Action", new { action = "ResendVerifyRecoveryEmail"})';
    var generate2FAURL = '@Url.SubRouteUrl("account", "User.Action", new { action = "Generate2FA" })';
    var confirmAuthSetupURL = '@Url.SubRouteUrl("account", "User.Action", new { action = "VerifyAuthenticatorCode" })';
    var resetRecoveryCodesURL = '@Url.SubRouteUrl("account", "User.Action", new { action = "ResetRecoveryCodes" })';
    var disable2FAURL = '@Url.SubRouteUrl("account", "User.Action", new { action = "Disable2FA" })';
</script>

<div class="modal fade" id="authenticatorSetup" tabindex="-1" role="dialog" aria-labelledby="authenticatorSetupLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="authSetupTitleLabel">Set Up a Third Party App to Generate Codes</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div id="authSetupStatus"></div>
                    </div>
                </div>
                <!form class="form" action="##" method="post" id="confirmAuthSetup">
                    <p>To get a third party app working, either scan the QR code below or type the secret key into the app.</p>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="text-muted">QR Code:</p>
                        </div>
                        <div class="col-sm-8">
                            <img id="authQRCode" width="200" height="200" alt="qr code" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="text-muted">Secret Key:</p>
                        </div>
                        <div class="col-sm-8">
                            <span class="text-success" id="authSetupSecretKey"></span>
                        </div>
                    </div>
                    <hr />
                    <p>To confirm the third party app is set up correctly, enter the security code that appears on your phone.</p>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="text-muted">Security Code:</p>
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control" id="auth_setup_code" name="auth_setup_code" title="Authenticator Security Code" type="text" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group text-right">
                        <button class="btn btn-primary" id="auth_setup_verify" type="button" name="auth_setup_verify">Verify</button>
                    </div>
                </!form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Two-Factor Authentication - <small>@(Model.TwoFactorEnabled ? Html.Raw("<span class=\"text-success\">Enabled</span>") : Html.Raw("<span class=\"text-danger\">Disabled</span>"))</small></h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-12 text-left">
        @{
            if (Model.TwoFactorEnabled)
            {
                <p>
                    <button class="btn btn-danger" id="disable_2fa_button" type="button">Disable</button>&nbsp;&nbsp;<small><a href="#" class="text-primary" id="resetRecoveryCodes">Reset Recovery Codes</a></small>
                </p>
            }
            else
            {
                <p>
                    <button class="btn btn-success" id="enable_2fa_button" type="button">Enable</button>
                </p>
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Client Grants</h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-10">
        <a href="@Config.UserConfig.IdentityServerConfig.Authority/Grants">Click here</a> to view/revoke the applications you have granted access to your account.</>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Security Info</h2>
        <hr />
    </div>
</div>
<!form class="form" action="##" method="post" id="updateForm">
    <div class="row">
        <div class="form-group col-sm-4">
            <label for="update_recovery_email"><h4>Recovery Email</h4></label>
            <input class="form-control" name="update_recovery_email" id="update_recovery_email" placeholder="user@example.com" title="enter a recovery email." type="text" value="@Model.RecoveryEmail" />
            @if (!string.IsNullOrEmpty(Model.RecoveryEmail))
            {
                <p class="form-control-static">
                    @if (Model.RecoveryVerified)
                    {
                        <span class="text-success"><i class="fa fa-check"></i> Verified</span>
                    }
                    else
                    {
                        <span class="text-danger"><i class="fa fa-ban"></i> Unverified</span> <small><a href="#" class="text-primary" id="ResendVerification"><i class="fa fa-repeat"></i> Resend</a></small>
                    }
                </p>
            }
        </div>
        <div class="col-sm-6">
            <label for="update_pgp_public_key"><h4>Public Key</h4></label>
            <textarea class="form-control" id="update_pgp_public_key" name="update_pgp_public_key" placeholder="Public Key Here" title="enter your pgp public key" rows="10">@Model.PgpPublicKey</textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group col-sm-10">
            <button class="btn btn-success" id="update_submit" type="submit">Save</button>
            <button class="btn" type="reset">Reset</button>
        </div>
    </div>
</!form>

<bundle src="js/user.settings.security.min.js" append-version="true"></bundle>