@model Teknik.Areas.Users.ViewModels.SettingsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Teknik.Utilities
@using Teknik.Areas.Users.ViewModels

@Styles.Render("~/Content/user/settings")
@Scripts.Render("~/bundles/user/settings")

<script>
    var homeUrl = '@Url.SubRouteUrl("www", "Home.Index")';
    var deleteUserURL = '@Url.SubRouteUrl("user", "User.Action", new { action = "Delete" })';
</script>

<div class="container">
    @if (!Model.Error)
    {
        <div class="row">
            <div class="col-sm-2">
                <!--left col-->
                <div class="panel panel-default">
                    <ul class="list-group">
                        <div class="panel-heading text-center"><strong>Account Settings</strong></div>
                        <a href="@Url.SubRouteUrl("user", "User.SecuritySettings")" class="list-group-item @(Model.Page == "Security" ? "active" : string.Empty)">Security</a>
                        <a href="@Url.SubRouteUrl("user", "User.ProfileSettings")" class="list-group-item @(Model.Page == "Profile" ? "active" : string.Empty)">Profile</a>
                        <a href="@Url.SubRouteUrl("user", "User.InviteSettings")" class="list-group-item @(Model.Page == "Invite" ? "active" : string.Empty)">Invite Codes (@(User.Info.OwnedInviteCodes.Where(c => c.Active && c.ClaimedUser == null).Count()))</a>
                        <a href="@Url.SubRouteUrl("user", "User.BlogSettings")" class="list-group-item @(Model.Page == "Blog" ? "active" : string.Empty)">Blogging</a>
                        <a href="@Url.SubRouteUrl("user", "User.UploadSettings")" class="list-group-item @(Model.Page == "Upload" ? "active" : string.Empty)">Uploads</a>
                    </ul>
                </div>
                <div class="list-group text-center">
                    <button type="button" class="list-group-item btn-danger" id="delete_account">Delete Account</button>
                </div>
            </div><!--/col-2-->
            <div class="col-sm-10">
                @RenderBody()
            </div><!--/col-10-->
        </div><!--/row-->
    }
    else
    {
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>@Model.ErrorMessage</h2>
            </div>
        </div>
    }
</div>
