@model Teknik.Areas.Users.ViewModels.SettingsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Teknik.Areas.Users.ViewModels

<div class="container">
    @if (!Model.Error)
    {
        <div class="row">
            <div class="col-sm-2">
                <!--left col-->
                <div class="panel panel-default">
                    <ul class="list-group">
                        <div class="panel-heading text-center"><strong>Personal Settings</strong></div>
                        <a href="@Url.SubRouteUrl("account", "User.ProfileSettings")" class="list-group-item @(Model.Page == "Profile" ? "active" : string.Empty)">Profile</a>
                        <a href="@Url.SubRouteUrl("account", "User.AccountSettings")" class="list-group-item @(Model.Page == "Account" ? "active" : string.Empty)">Account</a>
                        <a href="@Url.SubRouteUrl("account", "User.SecuritySettings")" class="list-group-item @(Model.Page == "Security" ? "active" : string.Empty)">Security</a>
                        <a href="@Url.SubRouteUrl("account", "User.InviteSettings")" class="list-group-item @(Model.Page == "Invite" ? "active" : string.Empty)">Invite Codes</a>
                        <a href="@Url.SubRouteUrl("account", "User.BlogSettings")" class="list-group-item @(Model.Page == "Blog" ? "active" : string.Empty)">Blogging</a>
                        <a href="@Url.SubRouteUrl("account", "User.UploadSettings")" class="list-group-item @(Model.Page == "Upload" ? "active" : string.Empty)">Uploads</a>
                    </ul>
                </div>
                <div class="panel panel-default">
                    <ul class="list-group">
                        <a href="@Url.SubRouteUrl("account", "User.DeveloperSettings")" class="list-group-item @(Model.Page == "Developer" ? "active" : string.Empty)">Developer Settings</a>
                    </ul>
                </div>
            </div><!--/col-2-->
            <div class="col-sm-10">
                @RenderBody()
            </div><!--/col-10-->
        </div><!--/row-->
    }
    else
    {
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>@Model.ErrorMessage</h2>
            </div>
        </div>
    }
</div>