@model Teknik.Areas.Users.ViewModels.UploadSettingsViewModel

@using Teknik.Areas.Users.ViewModels

@{
    Layout = "~/Areas/User/Views/User/Settings/Settings.cshtml";
}

<script>
    var editURL = '@Url.SubRouteUrl("user", "User.Action", new { action = "EditUpload" })';
</script>

<bundle src="css/user.settings.upload.min.css" append-version="true"></bundle>

<!form class="form" action="##" method="post" id="updateForm">
    <div class="row">
        <div class="col-sm-6">
            <div class="checkbox">
                <label>
                    <label for="update_upload_encrypt"><h4>Encrypt in Browser</h4></label>
                    <input id="update_upload_encrypt" name="update_upload_encrypt" title="whether the file should be encrypted in the browser before upload" type="checkbox" value="true" @(Model.Encrypt ? "checked" : string.Empty) />
                </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4 class="text-center">Expiration</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 hidden" id="length-div">
                    <input type="number" min="1" step="1" class="form-control" name="expirelength" id="expirelength" value="@Model.ExpirationLength">
                </div>
                <div class="col-sm-12" id="unit-div">
                    <select class="form-control" name="expireunit" id="expireunit">
                        @foreach (ExpirationUnit unit in Enum.GetValues(typeof(ExpirationUnit)))
                        {
                            <!option value="@unit" @(Model.ExpirationUnit == unit ? "selected" : string.Empty)>@unit.ToString()</!option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-10">
            <br />
            <button class="btn btn-success" id="update_submit" type="submit">Save</button>
            <button class="btn" type="reset">Reset</button>
        </div>
    </div>
</!form>

<bundle src="js/user.settings.upload.min.js" append-version="true"></bundle>