@model Teknik.Areas.Paste.ViewModels.PasteViewModel

@using Teknik.Utilities
@using Teknik.Areas.Vault.Models

@Styles.Render("~/Content/paste")

<script nonce="@Context.Items[Constants.NONCE_KEY]">
    var createVaultURL = '@Url.SubRouteUrl("vault", "Vault.NewVaultFromService", new { type = "Paste" })';
</script>

<div class="container">
    <div class="row text-center">
        <div class="col-sm-12 text-center">
            <h2><b>@((string.IsNullOrEmpty(Model.Title)) ? "Untitled" : Model.Title)</b> <small>Posted on <time datetime="@Model.DatePosted.ToString("s")">@Model.DatePosted.ToString("dddd, MMMM d, yyyy") at @Model.DatePosted.ToString("h:mm:ss tt")</time> - Format: <b id="syntaxLanguage">@Model.Syntax</b></small></h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12 pull-left">
            <div class="btn-group" role="group">
                <a role="button" class="btn btn-default" href="@Url.SubRouteUrl("p", "Paste.Simple", new { url = Model.Url })">Simple</a>
                <a role="button" class="btn btn-default" href="@Url.SubRouteUrl("p", "Paste.Raw", new { url = Model.Url })">Raw</a>
                <a role="button" class="btn btn-default" href="@Url.SubRouteUrl("p", "Paste.Download", new { url = Model.Url })">Download</a>
                <button type="button" class="btn btn-default" id="create-vault" data-paste-url="@Model.Url" data-paste-title="@((string.IsNullOrEmpty(Model.Title)) ? "Untitled" : Model.Title)">Create Vault</button>
                @if (User.Identity.IsAuthenticated && Model.Vaults != null && Model.Vaults.Any())
                {
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Add to Vault <span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right" id="add-to-vault-menu">
                        @foreach (Vault item in Model.Vaults)
                        {
                            <li><a href="#" class="add-to-vault" data-add-to-vault-url="@Url.SubRouteUrl("vault", "Vault.EditVault", new { url = item.Url, type = "Paste" })" data-paste-url="@Model.Url" data-paste-title="@((string.IsNullOrEmpty(Model.Title)) ? "Untitled" : Model.Title)">@item.Title</a></li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">@Html.Raw(Model.Content)</div>
    </div>
</div>

@Scripts.Render("~/bundles/paste")
