@model Teknik.Areas.Paste.ViewModels.PasteCreateViewModel

@using Teknik.Helpers

@Styles.Render("~/Content/paste")
@Scripts.Render("~/bundles/paste")

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <b>@Html.ValidationSummary(true, "The input is not valid")</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" name="editor" method="post" action="@Url.SubRouteUrl("paste", "Paste.Action", new { action = "Paste" })">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <textarea class="form-control" name="Content" id="content" rows="20"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-2 col-sm-offset-1 control-label">Title</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="Title" id="title" placeholder="My Awesome Paste">
                    </div>
                    <div class="col-sm-1 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary" id="pasteSubmit">Submit Paste</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="syntax" class="col-sm-2 col-sm-offset-1 control-label">Syntax</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="Syntax" id="syntax">
                            <option value="auto-select">Auto Select</option>
                            @foreach (KeyValuePair<string, string> format in Constants.HIGHLIGHTFORMATS)
                            {
                                <option value="@format.Value">@format.Key</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="syntax" class="col-sm-2 col-sm-offset-1 control-label">Expires</label>
                    <div class="col-sm-2 hidden" id="length-div">
                        <input type="number" min="1" step="1" class="form-control" name="ExpireLength" id="expirelength" value="1">
                    </div>
                    <div class="col-sm-4" id="unit-div">
                        <select class="form-control" name="ExpireUnit" id="expireunit">
                            <option value="never">Never</option>
                            <option value="view">Views</option>
                            <option value="minute">Minutes</option>
                            <option value="hour">Hours</option>
                            <option value="day">Days</option>
                            <option value="month">Months</option>
                            <option value="year">Years</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 col-sm-offset-1 control-label">Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" name="Password" id="password" placeholder="Secret">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="Hide" id="hide" value="true"> Hide from Public List
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("select[name='ExpireUnit']").change(function () {
        if ($(this).val() == "never") {
            $('#length-div').addClass("hidden");
            $('#unit-div').removeClass("col-sm-2");
            $('#unit-div').addClass("col-sm-4");
        }
        else {
            $('#length-div').removeClass("hidden");
            $('#unit-div').removeClass("col-sm-4");
            $('#unit-div').addClass("col-sm-2");
        }
    });
</script>