@model Teknik.Areas.Vault.ViewModels.ModifyVaultViewModel

@using Teknik.Areas.Vault.ViewModels

@{ 
    string action = (Model.isEdit) ? "EditVault" : "CreateVault";
    string title = (Model.isEdit) ? "Edit Vault" : "Create a New Vault";
}

<script>

    var helpURL = '@Url.SubRouteUrl("help", "Help.Markdown")';
    var validateItemURL = '@Url.SubRouteUrl(Model.CurrentSub, "Vault.Action", new { action = "ValidateItem" })';
    var modifyVaultURL = '@Url.SubRouteUrl(Model.CurrentSub, "Vault.Action", new { action = action })';

    var itemCount = @Model.items.Count();

</script>

<bundle src="css/vault.min.css" append-version="true"></bundle>

<div class="container">
    @if (Model.Error)
    {
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
            </div>
        </div>
    }

    <div class="modal fade" id="newItem" tabindex="-1" role="dialog" aria-labelledby="newItemLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!form class="form" action="##" method="post" id="addItem" enctype="multipart/form-data">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
                        <h4 class="modal-title" id="newItemLabel">Add an Item</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" id="item_error" style="display: none;">
                            <div class="col-sm-10 col-sm-offset-1 text-center">
                                <div class="alert alert-danger" role="alert" id="item_error_msg"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="item_title"><h4>Title</h4></label>
                                <input class="form-control" name="item_title" id="item_title" placeholder="Descriptive Title" title="enter a title for the item." type="text" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="item_description"><h4>Description</h4></label>
                                <textarea class="form-control wmd-input" name="item_description" id="item_description" placeholder="Optional" title="enter what the item is about." rows="5"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="item_type"><h4>Type</h4></label>
                                <select class="form-control" name="item_type" id="item_type">
                                    <!option>Upload</!option>
                                    <!option>Paste</!option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="item_url"><h4>Url or Id</h4></label>
                                <input class="form-control" name="item_url" id="item_url" placeholder="https://service.teknik.io/XXXXX or XXXXX" title="enter the url id for the item" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="new_item_submit">Add</button>
                    </div>
                </!form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editItem" tabindex="-1" role="dialog" aria-labelledby="editItemLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!form class="form" action="##" method="post" id="editItemForm" enctype="multipart/form-data">
                    <input type="hidden" value="" id="item_id"/>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
                        <h4 class="modal-title" id="editItemLabel">Edit Item</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" id="item_error" style="display: none;">
                            <div class="col-sm-10 col-sm-offset-1 text-center">
                                <div class="alert alert-danger" role="alert" id="item_error_msg"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="item_title"><h4>Title</h4></label>
                                <input class="form-control" name="item_title" id="item_title" placeholder="Descriptive Title" title="enter a title for the item." type="text" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="item_description"><h4>Description</h4></label>
                                <textarea class="form-control wmd-input" name="item_description" id="item_description" placeholder="Optional" title="enter what the item is about." rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="edit_item_submit">Save</button>
                    </div>
                </!form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <h2>@title</h2>
        </div>
    </div>
    <!form class="form" action="##" method="post" id="vaultForm">
        <input type="hidden" id="vaultId" name="vaultId" value="@Model.vaultId" />
        <div class="row">
            <div class="col-sm-10">
                <div class="row">
                    <div class="form-group col-sm-10 col-sm-offset-1">
                        <label for="title"><h4>Title</h4></label>
                        <input class="form-control" name="title" id="title" placeholder="Collection of items" title="enter a title for your vault." type="text" value="@Model.title" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-10 col-sm-offset-1">
                        <label for="article"><h4>Description</h4></label>
                        <div class="mdd_toolbar"></div>
                        <textarea class="form-control mdd_editor" name="description" id="description" placeholder="This is a cool collection of uploads and pastes" title="enter the description for this vault" data-provide="markdown" rows="5">@Model.description</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">Preview</div>
                            <div class="panel-body">
                                <div class="mdd_preview"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <br />
                <br />
                <div class="row">
                    <div class="form-group col-sm-12">
                        <button type="submit" class="btn btn-primary pull-left" id="submit">Save Vault</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="col-sm-10">
            <div class="row">
                <div class="form-group col-sm-10 col-sm-offset-1">
                    <button type="button" class="btn btn-default pull-right" id="add-item" data-toggle="modal" data-target="#newItem">Add Item</button>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-10" id="vault-items">
                @if (Model.items.Any())
                {
                    foreach (ModifyVaultItemViewModel item in Model.items)
                    {
                        @await Html.PartialAsync("~/Areas/Vault/Views/Vault/ModifyVaultItem.cshtml", item)
                    }
                }
            </div>
        </div>
    </!form>
</div>
<div id="templates" style="display: none">
    @await Html.PartialAsync("~/Areas/Vault/Views/Vault/ModifyVaultItem.cshtml", new ModifyVaultItemViewModel())
</div>

<bundle src="js/vault.min.js" append-version="true"></bundle>