@model Teknik.Areas.Status.ViewModels.StatusViewModel

@using Teknik.Utilities
@using Teknik.Areas.Status.Models

@Scripts.Render("~/bundles/signalr")
@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/bundles/status")

<script type="text/javascript">
    var getVisitorDataURL = '@Url.SubRouteUrl("status", "Status.Action", new { action = "GetVisitorData" })';
    var showWebCPU = @Model.Config.StatusConfig.ShowWebStatus.ToString().ToLower();
    var showDatabaseCPU = @Model.Config.StatusConfig.ShowDatabaseStatus.ToString().ToLower();
    var showNetworkUsage = @Model.Config.StatusConfig.ShowNetworkStatus.ToString().ToLower();
    var showVisitorStats = @Model.Config.PiwikConfig.Enabled.ToString().ToLower();
    var totalMemory = @Model.Config.StatusConfig.TotalMemory;
    var tickInterval = totalMemory / 5;
</script>

<div class="container">
    @if (Model.Config.StatusConfig.Enabled)
    {
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#realtime-stats" role="tab" data-toggle="tab">Realtime Server Usage</a></li>
            <li role="presentation"><a href="#site-stats" role="tab" data-toggle="tab">Site Statistics</a></li>
            <li role="presentation"><a href="#transactions" role="tab" data-toggle="tab">Transactions</a></li>
            <li role="presentation"><a href="#takedowns" role="tab" data-toggle="tab">Takedowns</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="realtime-stats">
                <h2 class="text-center"><b>Realtime Server Usage</b></h2>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="cpu-usage-chart"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="mem-usage-chart"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="network-usage-chart"></div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="site-stats">
                <h2 class="text-center"><b>Site Statistics</b></h2>
                <hr>
                @if (Model.Config.PiwikConfig.Enabled)
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="visitor-chart"></div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <h3>Uploads</h3>
                        <p>Total Count: @Model.UploadCount</p>
                        <p>Total Size: @StringHelper.GetBytesReadable(Model.UploadSize)</p>
                    </div>
                    <div class="col-sm-3 text-center">
                        <h3>Pastes</h3>
                        <p>Total Count: @Model.PasteCount</p>
                    </div>
                    <div class="col-sm-3 text-center">
                        <h3>Shortened Urls</h3>
                        <p>Total Count: @Model.ShortenedUrlCount</p>
                    </div>
                    <div class="col-sm-3 text-center">
                        <h3>Vaults</h3>
                        <p>Total Count: @Model.VaultCount</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3>Users</h3>
                        <p>Number of Users: @Model.UserCount</p>
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="transactions">
                @Html.Partial("~/Areas/Status/Views/Status/Transactions.cshtml", Model.Transactions)
            </div>
            <div role="tabpanel" class="tab-pane" id="takedowns">
                @Html.Partial("~/Areas/Status/Views/Status/Takedowns.cshtml", Model.Takedowns)
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h3>Status Information has been disabled</h3>
            </div>
        </div>
    }
</div>

