@model Teknik.Areas.Error.ViewModels.ErrorViewModel

<script>
    var submitErrorReportURL = '@Url.SubRouteUrl("error", "Error.Action", new { action = "SubmitErrorReport" })';
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template text-center">
                <h1>Unexpected Error</h1>
                <div class="error-details">
                    <p>Uh oh!  You aren't supposed to be seeing this.  Something went horribly wrong.</p>
                    <div class="error-actions">
                        <a href="@Url.SubRouteUrl("www", "Home.Index")" class="btn btn-default btn-lg">
                            <span class="fa fa-home"></span>
                            Take Me Home
                        </a>
                        @if (Model != null && Model.Exception != null)
                        {
                            <div class="btn btn-primary btn-lg" id="submitErrorReport">
                                <span class="fa fa-bug"></span>
                                Submit Bug Report
                            </div>
                        }
                    </div>
                    @if (Model != null && Model.Exception != null)
                    {
                        <br />
                        <div class="show-more" id="view-details">
                            <button role="button" class="btn btn-default btn-sm view-details-button" data-toggle="collapse" data-target="#errorMsg">Show Details</button>
                        </div>
                        <div class="text-left collapse" id="errorMsg">
                            <br />
                            <p>
                                <b>Exception:</b> @Model.Exception.GetFullMessage(true)
                                <br/>
                                <b>Source:</b> @Model.Exception.Source
                            </p>
                            <div style="overflow: scroll">
                                <pre>@Model.Exception.StackTrace</pre>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<bundle src="js/error.min.js" append-version="true"></bundle>
