@model Teknik.Areas.Error.ViewModels.ErrorViewModel

@using Teknik.Utilities

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template text-center">
                <h1>Unexpected Error</h1>
                <div class="error-details">
                    An unexpected error has occurred. Please contact the system administrator.
                    <br />
                    <br />
                    @if (Model != null && Model.Exception != null)
                    {
                        <div class="text-left">
                            <p>
                                <b>Exception:</b> @Model.Exception.GetFullMessage(true)
                                <br />
                                <b>Source:</b> @Model.Exception.Source
                            </p>
                            <div style="overflow:scroll">
                                <pre>@Model.Exception.StackTrace</pre>
                            </div>
                        </div>
                    }
                </div>
                <br />
                <div class="error-actions">
                    <a href="@Url.SubRouteUrl("www", "Home.Index")" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Take Me Home
                    </a>
                    <a href="@Url.SubRouteUrl("contact", "Contact.Index")" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-envelope"></span> 
                        Contact Support 
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>