@model Teknik.Areas.Error.ViewModels.ErrorViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template text-center">
                <h1>Oops!</h1>
                <h2>500 Server Error</h2>
                <div class="error-details">
                    Sorry, a server error occured.  Please contact an Administrator about this error.
                    <br />
                    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
                    {
                        <div class="text-left">
                            <p>
                                <b>Exception:</b> @Model.Exception.Message
                                <br />
                                <b>Source:</b> @Model.Exception.Source
                            </p>
                            <div style="overflow:scroll">
                                <pre>@Model.Exception.StackTrace</pre>
                            </div>
                        </div>
                    }
                </div>
                <br />
                <div class="error-actions">
                    <a href="@Url.SubAction("www", "Index", "Home", new { area = "Home"})" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Take Me Home
                    </a>
                    <a href="@Url.SubAction("contact", "Index", "Contact", new { area = "Contact"})" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-envelope"></span> 
                        Contact Support 
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


