@model Teknik.Areas.Help.ViewModels.HelpViewModel

<bundle src="css/help.min.css" append-version="true"></bundle>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="@Url.SubRouteUrl("help", "Help.Index")">Help Index</a></li>
        <li class="active"><a href="#">API</a></li>
    </ol>
    <div class="row api">
        <div class="col-sm-4">
            <h3><b>API Versions</b></h3>
            <h4>Version 1</h4>
            <p>
                <ul class="list-unstyled">
                    <li><a href="@Url.SubRouteUrl("help", "Help.API", new { version = "v1", service = "Upload" })">Upload Service</a></li>
                    <li><a href="@Url.SubRouteUrl("help", "Help.API", new { version = "v1", service = "Paste" })">Paste Service</a></li>
                    <li><a href="@Url.SubRouteUrl("help", "Help.API", new { version = "v1", service = "Shorten" })">Url Shortening</a></li>
                </ul>
            </p>
        </div>
        <div class="col-sm-8">
            <h2><b>Teknik API</b></h2>
            <hr>
            <p>
                The Teknik API is free for everyone to use, and is defined on a per service basis.
                <br />
                <br />
                The general API calls can be summarized as follows: <code>@Url.SubRouteUrl("api", "Api.Index")/v@(Config.ApiConfig.Version)/<b>Service</b>/<b>Action</b></code>
            </p>
            <h3>Authentication</h3>
            <p>
                For some services, you may be required to authenticate to access them, or to associate generated content with your account.  In all cases, the same authentication methods can be used.
                <br />
                <br />
                <h4>OAuth2 token (sent in a header)</h4>
                <code>curl -H "Authorization: token <i>OATH-TOKEN</i>" @Url.SubRouteUrl("api", "Api.Index")/v@(Config.ApiConfig.Version)/</code>
                <br />
                <br />
                For example, if you're accessing the API via cURL, the following command would associate the create paste with your account.  Just replace <code>&lt;OAUTH-TOKEN&gt;</code> with your access token.
                <pre><code>$ curl -H &lt;OAUTH-TOKEN&gt; --data code="Test" @Url.SubRouteUrl("api", "API.v1.Paste")</code></pre>
            </p>
            <h3>Responses</h3>
            <p>
                All responses are returned as json.  The returned json can contain any of the following sections.
                <br />
                <br />
                <strong>Results</strong>
                <pre><code>{"result":{"&lt;resultData&gt;":"&lt;value&gt;"}}</code></pre>
                <strong>Errors</strong>
                <pre><code>{"error":{"message":"&lt;errorMessage&gt;"}}</code></pre>
            </p>
            <hr />
        </div>
    </div>
</div>
