@model Teknik.Areas.Contact.ViewModels.ContactViewModel

@using Teknik.Utilities

@Scripts.Render("~/bundles/contact")
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <h1 class="h1">
                Contact us
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form role="form" id="contactForm" action="@Url.SubRouteUrl("contact", "Contact.Action", new { action = "Submit" })" method="post" accept-charset="UTF-8">
                    @Html.ValidationSummary(true, "Message send failed.")
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.ValidationMessageFor(u => u.Name)
                                <label for="Name">
                                    Name
                                </label>
                                <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter name" required="required" value="@((Request.IsAuthenticated) ? User.Identity.Name : string.Empty)" />
                            </div>
                            <div class="form-group">
                                @Html.ValidationMessageFor(u => u.Email)
                                <label for="Email">
                                    Email Address
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email" class="form-control" id="Email" name="Email" placeholder="Enter email" required="required" value="@((Request.IsAuthenticated) ? User.Identity.Name + "@" + Model.Config.Host : string.Empty)" />
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.ValidationMessageFor(u => u.Subject)
                                <label for="Subject">
                                    Subject
                                </label>
                                <input type="text" class="form-control" id="Subject" name="Subject" placeholder="Subject" required="required" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.ValidationMessageFor(u => u.Message)
                                <label for="Message">
                                    Message
                                </label>
                                <textarea id="Message" name="Message" class="form-control" rows="9" cols="25" required="required"
                                          placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" id="contact_submit">
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1"><p>If you want to report abuse, follow the instructions at the <a href="@Url.SubRouteUrl("abuse", "Abuse.Index")">Abuse Prevention</a> page.</p></div>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <legend><span class="glyphicon glyphicon-globe"></span> Where to find us</legend>
                <address>
                    <strong>Customer Support</strong><br>
                    <a href="mailto:@Model.Config.SupportEmail">@Model.Config.SupportEmail</a>
                </address>
                <address>
                    <strong>Teknik on Rizon IRC</strong><br>
                    #Teknik (<a href="irc://irc.rizon.net" target="_blank">irc.rizon.net</a>)<br>
                </address>
            </form>
        </div>
    </div>
</div>
