@model ScopeViewModel

<li class="list-group-item abc-checkbox">
    @if (Model.Required)
    {
        <input type="hidden"
               name="ScopesConsented"
               value="@Model.Name" />
    }
    <input class="consent-scopecheck"
           type="checkbox"
           name="ScopesConsented"
           id="scopes_@Model.Name"
           value="@Model.Name"
           checked="@Model.Checked"
           disabled="@Model.Required" />
    <label for="ScopesConsented">
        <strong>@Model.DisplayName</strong>
        @if (Model.Emphasize)
        {
            <span class="glyphicon glyphicon-exclamation-sign"></span>
        }
        @if (Model.Required)
        {
            <span><em>(required)</em></span>
        }
    </label>
    @if (Model.Description != null)
    {
        <div class="consent-description">
            <label for="scopes_@Model.Name">@Model.Description</label>
        </div>
    }
</li>