@model Teknik.Areas.About.ViewModels.AboutViewModel

@{
    string extraUsage = string.Empty;
}

<div class="container">
    <div class="row">
        <div class="col-ms-12">
            <h2 class="text-center">What we are About</h2>
            <hr>
            <p>
                Teknik was created to provide our users free services that they can trust.  All of our services are treated with the utmost care to provide you with the best experience possible, and the best security with your data that we can give.
            </p>
            <p>
                You can view our complete activity and statistics by visiting the <a href="@Url.SubRouteUrl("stats", "Stats.Index")">statistics</a> page.
            </p>

            <br />
            <hr />

            <h2 class="text-center">What can you do with Teknik?</h2>
            <br />

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <table class="table table-bordered">
                        <!-- Heading -->
                        <tr>
                            <th class="text-center"></th>
                            <th class="text-center"><a href="@Url.SubRouteUrl("account", "User.Register")">Free Account</a></th>
                            <th class="text-center">Anonymous</th>
                        </tr>
                        <tr>
                            <td class="text-left">Git Repositories</td>
                            <td class="text-center">Unlimited Public &amp; Private Repos</td>
                            <td class="text-center"><i class="fa fa-times fa-2x text-danger"></i></td>
                        </tr>
                        <tr>
                            <td class="text-left">Personal Blog</td>
                            <td class="text-center"><i class="fa fa-check fa-2x text-success"></i></td>
                            <td class="text-center"><i class="fa fa-times fa-2x text-danger"></i></td>
                        </tr>
                        <tr>
                            <td class="text-left">Url Shortening</td>
                            <td class="text-center"><i class="fa fa-check fa-2x text-success"></i></td>
                            <td class="text-center"><i class="fa fa-times fa-2x text-danger"></i></td>
                        </tr>
                        <tr>
                            <td class="text-left">Vault and Paste Editing</td>
                            <td class="text-center"><i class="fa fa-check fa-2x text-success"></i></td>
                            <td class="text-center"><i class="fa fa-times fa-2x text-danger"></i></td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                View and Delete Previous Content:
                                <br />
                                <ul>
                                    <li>Pastes</li>
                                    <li>Uploads</li>
                                    <li>Shortened URLs</li>
                                    <li>Vaults</li>
                                </ul>
                            </td>
                            <td class="text-center"><i class="fa fa-check fa-2x text-success"></i></td>
                            <td class="text-center"><i class="fa fa-times fa-2x text-danger"></i></td>
                        </tr>
                        <tr>
                            <td class="text-left"><span data-toggle="tooltip" data-placement="top">Service API</span></td>
                            <td class="text-center"><i class="fa fa-check fa-2x text-success"></i></td>
                            <td class="text-center"><i class="fa fa-times fa-2x text-danger"></i></td>
                        </tr>
                        <!-- No Account Features -->
                        <tr>
                            <td class="text-left">Pastebin</td>
                            <td class="text-center"><i class="fa fa-check fa-2x text-success"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-2x text-success"></i></td>
                        </tr>
                        <tr>
                            <td class="text-left">File Uploads</td>
                            <td class="text-center"><i class="fa fa-check fa-2x text-success"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-2x text-success"></i></td>
                        </tr>
                        <tr>
                            <td class="text-left">Max Upload Filesize</td>
                            <td class="text-center">@StringHelper.GetBytesReadable(Config.UploadConfig.MaxUploadFileSize)</td>
                            <td class="text-center">@StringHelper.GetBytesReadable(Config.UploadConfig.MaxUploadFileSize)</td>
                        </tr>
                        <tr>
                            <td class="text-left">Max Embedded Filesize</td>
                            <td class="text-center">@StringHelper.GetBytesReadable(Config.UploadConfig.MaxDownloadFileSize)</td>
                            <td class="text-center">@StringHelper.GetBytesReadable(Config.UploadConfig.MaxDownloadFileSize)</td>
                        </tr>
                        <tr>
                            <td class="text-left">Upload Storage</td>
                            <td class="text-center">@StringHelper.GetBytesReadable(Config.UploadConfig.MaxStorage)</td>
                            <td class="text-center">No Limit</td>
                        </tr>
                        <tr>
                            <td class="text-left">Upload Expiration</td>
                            <td class="text-center">Never</td>
                            <td class="text-center">24 Hours</td>
                        </tr>
                        <tr>
                            <td class="text-left">Vault Creation</td>
                            <td class="text-center"><i class="fa fa-check fa-2x text-success"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-2x text-success"></i></td>
                        </tr>
                        <tr>
                            <td class="text-left">Technical Podcasts</td>
                            <td class="text-center"><i class="fa fa-check fa-2x text-success"></i></td>
                            <td class="text-center"><i class="fa fa-check fa-2x text-success"></i></td>
                        </tr>
                    </table>
                </div>
            </div>

            <br />
            <hr>

            <h2 class="text-center">Want to help?</h2>
            <br />
            <p class="text-center">
                Teknik's source code can be located on our <a href="https://git.teknik.io/Teknikode/">Git Repository</a> as well as all our internal tools and projects.
                <br />
                <br />
                Have a cool suggestion for the site?  Just submit it using the <a href="@Url.SubRouteUrl("contact", "Contact.Index")">Feedback Form</a>!
            </p>
        </div>
    </div>
</div>
