@model Teknik.Areas.Stats.ViewModels.StatsViewModel

<script>
    var getVisitorDataURL = '@Url.SubRouteUrl("stats", "Stats.Action", new { action = "GetVisitorData" })';
    var showWebCPU = @Config.StatsConfig.ShowWebStatus.ToString().ToLower();
    var showDatabaseCPU = @Config.StatsConfig.ShowDatabaseStatus.ToString().ToLower();
    var showNetworkUsage = @Config.StatsConfig.ShowNetworkStatus.ToString().ToLower();
    var showVisitorStats = @Config.PiwikConfig.Enabled.ToString().ToLower();
    var totalMemory = @Config.StatsConfig.TotalMemory;
    var tickInterval = totalMemory / 5;
</script>

<div class="container">
    @if (Config.StatsConfig.Enabled)
    {
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="#site-stats" role="tab" data-toggle="tab">Site Statistics</a></li>
            <li role="presentation"><a href="#transactions" role="tab" data-toggle="tab">Transactions</a></li>
            <li role="presentation"><a href="#takedowns" role="tab" data-toggle="tab">Takedowns</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="site-stats">
                <h2 class="text-center"><b>Site Statistics</b></h2>
                <hr>
                @if (Config.PiwikConfig.Enabled)
                {
                    @*<div class="row">
                        <div class="col-sm-12">
                            <div id="visitor-chart"></div>
                        </div>
                    </div>*@
                }
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <h3>Uploads</h3>
                        <p>Total Count: @Model.UploadCount</p>
                        <p>Total Size: @StringHelper.GetBytesReadable(Model.UploadSize)</p>
                    </div>
                    <div class="col-sm-3 text-center">
                        <h3>Pastes</h3>
                        <p>Total Count: @Model.PasteCount</p>
                    </div>
                    <div class="col-sm-3 text-center">
                        <h3>Shortened Urls</h3>
                        <p>Total Count: @Model.ShortenedUrlCount</p>
                    </div>
                    <div class="col-sm-3 text-center">
                        <h3>Vaults</h3>
                        <p>Total Count: @Model.VaultCount</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3>Users</h3>
                        <p>Number of Users: @Model.UserCount</p>
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="transactions">
                @await Html.PartialAsync("~/Areas/Stats/Views/Stats/Transactions.cshtml", Model.Transactions)
            </div>
            <div role="tabpanel" class="tab-pane" id="takedowns">
                @await Html.PartialAsync("~/Areas/Stats/Views/Stats/Takedowns.cshtml", Model.Takedowns)
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h3>Statistics have been disabled</h3>
            </div>
        </div>
    }
</div>

<bundle src="js/stats.min.js" append-version="true"></bundle>

