@model Teknik.Areas.Help.ViewModels.HelpViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h2 class="text-center">Teknik Services</h2>
            <hr>
            <h3 class="text-center">Important Links</h3>
            <dl class="dl-horizontal">
                <dt><a href="@Url.SubRouteUrl("transparency", "Transparency.Index")" target="_blank">Site Transparency</a></dt>
                <dd>All the site's transactions, statistics, and data effecting actions.</dd>
                <dt><a href="@Url.SubRouteUrl("privacy", "Privacy.Index")" target="_blank">Privacy Policy</a></dt>
                <dd>Everything about how we handle your privacy.</dd>
            </dl>
            <hr>
            <h3 class="text-center">Help Topics</h3>
            <dl class="dl-horizontal">
                <dt><a href="@Url.SubRouteUrl("help", "Help.Topic", new { topic = "Api" })">Api</a></dt>
                <dd>Open API available to interact with the difference services.</dd>
                <dt><a href="@Url.SubRouteUrl("help", "Help.Topic", new { topic = "Blog" })">Blogging</a></dt>
                <dd>Blogging platform available to the users and visible to the public.</dd>
                <dt><a href="@Url.SubRouteUrl("help", "Help.Topic", new { topic = "Git" })">Git Repositories</a></dt>
                <dd>All the site's transactions, statistics, and data effecting actions.</dd>
                <dt><a href="@Url.SubRouteUrl("help", "Help.Topic", new { topic = "Irc" })">Irc Network</a></dt>
                <dd>All the site's transactions, statistics, and data effecting actions.</dd>
                <dt><a href="@Url.SubRouteUrl("help", "Help.Topic", new { topic = "Mail" })">Mail Server</a></dt>
                <dd>All the site's transactions, statistics, and data effecting actions.</dd>
                <dt><a href="@Url.SubRouteUrl("help", "Help.Topic", new { topic = "Mumble" })">Mumble Chat Server</a></dt>
                <dd>The public Mumble server and configuration settings needed.</dd>
                <dt><a href="@Url.SubRouteUrl("help", "Help.Topic", new { topic = "Upload" })">Uploads</a></dt>
                <dd>How the Upload service works and special considerations.</dd>
            </dl>
        </div>
    </div>
</div>