@model Teknik.Areas.Help.ViewModels.HelpViewModel

@using Teknik.Utilities

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h2 class="text-center">Teknik Services</h2>
            <hr>
            <h3 class="text-center">Important Links</h3>
            <dl class="dl-horizontal">
                <dt><a href="@Url.SubRouteUrl("status", "Status.Index")" target="_blank">System Status</a></dt>
                <dd>The status page for all of Teknik's Services.</dd>
                <dt><a href="@Url.SubRouteUrl("faq", "FAQ.Index")" target="_blank">FAQ</a></dt>
                <dd>Some of the more commonly asked questions and some answers regarding them.</dd>
                <dt><a href="@Url.SubRouteUrl("stats", "Stats.Index")" target="_blank">Site Statistics</a></dt>
                <dd>Current resource usage of the server, and all the site's statistics, transactions, and data effecting actions.</dd>
                <dt><a href="@Url.SubRouteUrl("privacy", "Privacy.Index")" target="_blank">Privacy Policy</a></dt>
                <dd>Everything about how we handle your privacy.</dd>
                <dt><a href="@Url.SubRouteUrl("tos", "TOS.Index")" target="_blank">Terms of Service</a></dt>
                <dd>The policies and terms for using Teknik Services.</dd>
                <dt><a href="@Url.SubRouteUrl("abuse", "Abuse.Index")" target="_blank">Abuse Protection</a></dt>
                <dd>How to go about reporting abuse.</dd>
            </dl>
            <hr>
            <h3 class="text-center">Help Topics</h3>
            <dl class="dl-horizontal">
                <dt><a href="@Url.SubRouteUrl("help", "Help.API")">API</a></dt>
                <dd>Open API available to interact with the different services.</dd>
                <dt><a href="@Url.SubRouteUrl("help", "Help.Blog")">Blogging</a></dt>
                <dd>Blogging platform available to the users and visible to the public.</dd>
                <dt><a href="@Url.SubRouteUrl("help", "Help.Git")">Git Repositories</a></dt>
                <dd>Unlimited public and private Git repositories.</dd>
                <dt><a href="@Url.SubRouteUrl("help", "Help.IRC")">IRC Network</a></dt>
                <dd>IRC network that uses the Teknik userbase for nickname authentication.</dd>
                <dt><a href="@Url.SubRouteUrl("help", "Help.Mail")">Mail Server</a></dt>
                <dd>Mail service featuring IMAP and POP3 support with <b>1 GB</b> storage.</dd>
                <dt><a href="@Url.SubRouteUrl("help", "Help.Markdown")">Markdown</a></dt>
                <dd>Markdown syntax used throughout the site.</dd>
                <dt><a href="@Url.SubRouteUrl("help", "Help.Mumble")">Mumble Chat Server</a></dt>
                <dd>The public Mumble server and configuration settings needed.</dd>
                <dt><a href="@Url.SubRouteUrl("help", "Help.RSS")">RSS Feeds</a></dt>
                <dd>Built-in RSS support for content updates.</dd>
                <dt><a href="@Url.SubRouteUrl("help", "Help.Tools")">Tools</a></dt>
                <dd>Internal and 3rd Party Tools for interfacing with our services.</dd>
                <dt><a href="@Url.SubRouteUrl("help", "Help.Upload")">Uploads</a></dt>
                <dd>How the Upload service works and special considerations.</dd>
            </dl>
        </div>
    </div>
</div>
