@model Teknik.Areas.Help.ViewModels.HelpViewModel

<div class="container">
    <ol class="breadcrumb">
        <li><a href="@Url.SubRouteUrl("help", "Help.Index")">Help Index</a></li>
        <li class="active"><a href="#">Mail Server</a></li>
    </ol>
    <div class="row">
        <h2><b>Mail</b></h2>
        <hr>
        <h3>Mail Server Settings</h3>
        <p>
            At registration, each user is given an email address with <b>1 GB</b> of storage space.
            You can either access your email via the <a href="@Url.SubRouteUrl("mail", "Mail.Index")" target="_blank">Web Client</a> or by using a client of your choosing.
        </p>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <ul class="list-group">
                    <li class="list-group-item">SMTP:<div class="pull-right"><b>25 | 465 [SSL/TLS] | 587 [STARTTLS]</b></div></li>
                    <li class="list-group-item">POP3:<div class="pull-right"><b>110 [STARTTLS Optional] | 995 [SSL/TLS]</b></div></li>
                    <li class="list-group-item">IMAP:<div class="pull-right"><b>143 [STARTTLS Optional] | 993 [SSL/TLS]</b></div></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item text-center"><h4>Outlook</h4></li>
                    <br />
                    <div class="col-sm-6">
                        <ul class="list-group">
                            <li class="list-group-item text-center">User Information</li>
                            <li class="list-group-item">Email Address:<div class="pull-right"><b>@string.Format("[username]@{0}", Config.EmailConfig.Domain)</b></div></li>
                            <li class="list-group-item text-center">Server Information</li>
                            <li class="list-group-item">Incoming Server:<div class="pull-right"><b>@Config.EmailConfig.MailHost</b></div></li>
                            <li class="list-group-item">Outgoing Server:<div class="pull-right"><b>@Config.EmailConfig.MailHost</b></div></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-group">
                            <li class="list-group-item text-center">Logon Information</li>
                            <li class="list-group-item">Username:<div class="pull-right"><b>@string.Format("[username]@{0}", Config.EmailConfig.Domain)</b></div></li>
                            <li class="list-group-item">Password:<div class="pull-right"><b>[password]</b></div></li>
                            <li class="list-group-item text-center">More Settings</li>
                            <li class="list-group-item">Requires Authentication:<div class="pull-right"><b>Both</b></div></li>
                            <li class="list-group-item">Incoming Server:<div class="pull-right"><b>[IMAP] 143/993 | [POP3] 110/995</b></div></li>
                            <li class="list-group-item">Outgoing Server (SMTP):<div class="pull-right"><b>25/465/587</b></div></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item text-center"><h4>Thunderbird</h4></li>
                    <br />
                    <div class="col-sm-6">
                        <ul class="list-group">
                            <li class="list-group-item text-center">Server Settings</li>
                            <li class="list-group-item">Server Name:<div class="pull-right"><b>@Config.EmailConfig.MailHost</b></div></li>
                            <li class="list-group-item">Port:<div class="pull-right"><b>[IMAP] 143/993 | [POP3] 110/995</b></div></li>
                            <li class="list-group-item">User Name:<div class="pull-right"><b>@string.Format("[username]@{0}", Config.EmailConfig.Domain)</b></div></li>
                            <li class="list-group-item">Connection Security:<div class="pull-right"><b>None/SSL/TLS</b></div></li>
                            <li class="list-group-item">Authentication method:<div class="pull-right"><b>Normal Password</b></div></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-group">
                            <li class="list-group-item text-center">Outgoing Server (SMTP)</li>
                            <li class="list-group-item">Server Name:<div class="pull-right"><b>@Config.EmailConfig.MailHost</b></div></li>
                            <li class="list-group-item">Port:<div class="pull-right"><b>25/465/587</b></div></li>
                            <li class="list-group-item">User Name:<div class="pull-right"><b>@string.Format("[username]@{0}", Config.EmailConfig.Domain)</b></div></li>
                            <li class="list-group-item">Connection Security:<div class="pull-right"><b>None/SSL/TLS</b></div></li>
                            <li class="list-group-item">Authentication method:<div class="pull-right"><b>Normal Password</b></div></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item text-center"><h4>Mutt</h4></li>
                    <br />
                    <div class="col-sm-10 col-sm-offset-1">
                        <pre>#You can set your editor of preference here
set editor=vim

#It's important to set your real name and from email address to avoid SMTP errors.
set realname="My Name"
set from=example@teknik.io
set use_from=yes

set imap_user=example@teknik.io

#Don't set your password here, mutt will prompt you for it.
#set imap_pass=lulpasshere

#This is an example IMAP configuration.
set folder="imaps://mail.teknik.io/"
set spoolfile=+INBOX
set record="Sent"
set postponed="Drafts"

#This is to send email, uses your imap user to send.
#Again, mutt will prompt you for your teknik email password.
set smtp_url="smtps://$imap_user@mail.teknik.io/"

#Miscellaneous configuration, check mutt man pages or online documentation to see what they do.
set ssl_starttls=yes
unset imap_passive
set imap_check_subscribed
set net_inc=5
set mail_check = 360</pre>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
