@model Teknik.Areas.Home.ViewModels.HomeViewModel

@using Teknik.Areas.Blog.Models
@using Teknik.Areas.Podcast.Models

@{
    string logoPath = "/images/logo-blue.svg";

    // If we are using a CDN, let's replace it
    if (Config.UseCdn)
    {
        if (!string.IsNullOrEmpty(Config.CdnHost))
        {
            logoPath = Config.CdnHost.TrimEnd('/') + logoPath;
        }
    }
}

<bundle src="css/home.min.css" append-version="true"></bundle>

<div class="container">
    <div class="row">
        <img src="@logoPath" class="img-responsive center-block" alt="Teknik">
    </div>
    <br />
    <div class="row text-center">
        <h2>
            We provide these services to help those who try to innovate.
        </h2>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <a href="@Url.SubRouteUrl("upload", "Upload.Index")">
            <div class="col-md-3 text-center">
                <br />
                <i class="fa fa-lock fa-5x"></i>
                <div class="caption">
                    <h3>Encrypted File Uploads</h3>
                </div>
            </div>
        </a>
        <a href="@Url.SubRouteUrl("paste", "Paste.Index")">
            <div class="col-md-3 text-center">
                <br />
                <i class="fa fa-code fa-5x"></i>
                <div class="caption">
                    <h3>Pastebin</h3>
                </div>
            </div>
        </a>
        <a href="@Url.SubRouteUrl("podcast", "Podcast.Index")">
            <div class="col-md-3 text-center">
                <br />
                <i class="fa fa-microphone fa-5x"></i>
                <div class="caption">
                    <h3>Technical Podcasts</h3>
                </div>
            </div>
        </a>
        <a href="@Url.SubRouteUrl("vault", "Vault.NewVault")">
            <div class="col-md-3 text-center">
                <br />
                <i class="fa fa-archive fa-5x"></i>
                <div class="caption">
                    <h3>Vaults</h3>
                </div>
            </div>
        </a>
    </div>
</div>
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h2><a href="@Url.SubRouteUrl("account", "User.Register")">Sign Up</a> and get access to these features and more!</h2>
                </div>
                <br />
                <div class="panel-body">
                    <div class="row">
                        <a conditional href="@Url.SubRouteUrl("upload", "Upload.Index")" asp-condition="@User.Identity.IsAuthenticated">
                            <div class="col-md-2 col-lg-offset-1 text-center text-primary">
                                <br />
                                <i class="fa fa-clock-o fa-5x"></i>
                                <div class="caption">
                                    <h3>Non-Expiring Uploads</h3>
                                </div>
                            </div>
                        </a>
                        <a conditional href="@Config.GitConfig.Host" asp-condition="@User.Identity.IsAuthenticated">
                            <div class="col-md-2 text-center text-primary">
                                <br />
                                <i class="fa fa-git fa-5x"></i>
                                <div class="caption">
                                    <h3>Unlimited Git Repos</h3>
                                </div>
                            </div>
                        </a>
                        <a conditional href="@Url.SubRouteUrl("blog", "Blog.Blog", new { username = User.Identity.Name })" asp-condition="@User.Identity.IsAuthenticated">
                            <div class="col-md-2 text-center text-primary">
                                <br />
                                <i class="fa fa-book fa-5x"></i>
                                <div class="caption">
                                    <h3>Personal Blog</h3>
                                </div>
                            </div>
                        </a>
                        <a conditional href="@Url.SubRouteUrl("shorten", "Shortener.Index")" asp-condition="@User.Identity.IsAuthenticated">
                            <div class="col-md-2 text-center text-primary">
                                <br />
                                <i class="fa fa-link fa-5x"></i>
                                <div class="caption">
                                    <h3>Url Shortener</h3>
                                </div>
                            </div>
                        </a>
                        <a conditional href="@Url.SubRouteUrl("account", "User.ViewServiceData")" asp-condition="@User.Identity.IsAuthenticated">
                            <div class="col-md-2 text-center text-primary">
                                <br />
                                <i class="fa fa-database fa-5x"></i>
                                <div class="caption">
                                    <h3>View Data</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <br />
                    <hr />
                    <h2 class="text-center"><a href="@Url.SubRouteUrl("billing", "Billing.Subscriptions")">Subscribe</a> for even more features!</h2>
                    <div class="row">
                        <a conditional href="@Url.SubRouteUrl("help", "Help.Mail")" asp-condition="@User.Identity.IsAuthenticated">
                            <div class="col-md-4 text-center text-primary">
                                <br />
                                <i class="fa fa-envelope fa-5x"></i>
                                <div class="caption">
                                    <h3>Email Account</h3>
                                </div>
                            </div>
                        </a>
                        <a conditional href="@Url.SubRouteUrl("upload", "Upload.Index")" asp-condition="@User.Identity.IsAuthenticated">
                            <div class="col-md-4 text-center text-primary">
                                <br />
                                <i class="fa fa-upload fa-5x"></i>
                                <div class="caption">
                                    <h3>Larger Upload Size</h3>
                                </div>
                            </div>
                        </a>
                        <a conditional href="@Url.SubRouteUrl("upload", "Upload.Index")" asp-condition="@User.Identity.IsAuthenticated">
                            <div class="col-md-4 text-center text-primary">
                                <br />
                                <i class="fa fa-hdd-o fa-5x"></i>
                                <div class="caption">
                                    <h3>Additional Storage</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    <!-- Display Site News -->
    <div class="col-sm-5 col-sm-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="pull-left"><i class="fa fa-newspaper-o"></i></span><span class="center-block text-center">Recent News</span></h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    @if (Model.SitePosts.Any())
                    {
                        foreach (BlogPost post in Model.SitePosts)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="blog-post-sm">
                                            <h2 class="blog-post-title-sm text-left">
                                                <a href="@Url.SubRouteUrl("blog", "Blog.Post", new { username = post.Blog.User.Username, id = post.BlogPostId })" id="title_@post.BlogPostId">@Html.Markdown(post.Title)</a>
                                            </h2>
                                            <p class="blog-post-meta-sm text-left text-muted">
                                                Posted on <time datetime="@post.DatePosted.ToString("s")">@post.DatePosted.ToString("MMMM dd, yyyy")</time>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h4>No News Available</h4>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- Display Recent Podcasts -->
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="pull-left"><i class="fa fa-microphone"></i></span><span class="center-block text-center">Recent Podcasts</span></h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    @if (Model.Podcasts.Any())
                    {
                        foreach (Podcast podcast in Model.Podcasts)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="blog-post-sm">
                                            <h2 class="blog-post-title-sm text-left">
                                                <a href="@Url.SubRouteUrl("podcast", "Podcast.View", new { episode = podcast.Episode })" id="title_@podcast.PodcastId">@Html.Markdown(podcast.Title)</a>
                                            </h2>
                                            <p class="blog-post-meta-sm text-left text-muted">
                                                Posted on <time datetime="@podcast.DatePosted.ToString("s")">@podcast.DatePosted.ToString("MMMM dd, yyyy")</time>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h4>No Podcasts Available</h4>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>