@model Teknik.Areas.Home.ViewModels.HomeViewModel

@using Teknik.Areas.Blog.Models
@using Teknik.Areas.Podcast.Models
@using Teknik.Utilities

@{
    string logoPath = "/Images/logo-blue.svg";

    // If we are using a CDN, let's replace it
    if (Model.Config.UseCdn)
    {
        if (!string.IsNullOrEmpty(Model.Config.CdnHost))
        {
            logoPath = Model.Config.CdnHost.TrimEnd('/') + logoPath;
        }
    }
}

@Styles.Render("~/Content/home")

<div class="container">
    <div class="row">
        <img src="@logoPath" class="img-responsive center-block" alt="Teknik">
    </div>
    <br />
    <div class="row text-center">
        <h2>
            We provide these services to help those who try to innovate.
        </h2>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <a href="@Url.SubRouteUrl("upload", "Upload.Index")">
            <div class="col-md-3 text-center">
                    <br />
                    <i class="fa fa-lock fa-5x"></i>
                    <div class="caption">
                        <h3>Encrypted File Uploads</h3>
                    </div>
            </div>
        </a>
        <a href="@Url.SubRouteUrl("paste", "Paste.Index")">
            <div class="col-md-3 text-center">
                    <br />
                    <i class="fa fa-code fa-5x"></i>
                    <div class="caption">
                        <h3>Clean Pastebin</h3>
                    </div>
            </div>
        </a>
        <a href="@Url.SubRouteUrl("podcast", "Podcast.Index")">
            <div class="col-md-3 text-center">
                    <br />
                    <i class="fa fa-microphone fa-5x"></i>
                    <div class="caption">
                        <h3>Technical Podcasts</h3>
                    </div>
            </div>
        </a>
        <a href="@Url.SubRouteUrl("help", "Help.Mumble")">
            <div class="col-md-3 text-center">
                    <br />
                    <i class="fa fa-comments fa-5x"></i>
                    <div class="caption">
                        <h3>Mumble Server</h3>
                    </div>
            </div>
        </a>
    </div>
</div>
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h2><a href="@Url.SubRouteUrl("user", "User.Register")">Sign Up</a> for free and get access to these features and more!</h2>
                </div>
                <br />
                <div class="panel-body">
                    <a href="@Url.SubRouteUrl("help", "Help.Mail")">
                        <div class="col-md-3 text-center">
                            <br />
                            <i class="fa fa-at fa-5x"></i>
                            <div class="caption">
                                <h3>Free Email</h3>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.SubRouteUrl("git", "Git.Index")">
                        <div class="col-md-3 text-center">
                            <br />
                            <i class="fa fa-git fa-5x"></i>
                            <div class="caption">
                                <h3>Unlimited Git Repositories</h3>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.SubRouteUrl("blog", "Blog.Blog")">
                        <div class="col-md-3 text-center">
                            <br />
                            <i class="fa fa-book fa-5x"></i>
                            <div class="caption">
                                <h3>Personal Blog</h3>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.SubRouteUrl("user", "User.ViewProfile")">
                        <div class="col-md-3 text-center">
                            <br />
                            <i class="fa fa-sitemap fa-5x"></i>
                            <div class="caption">
                                <h3>Service Logs</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    <!-- Display Site News -->
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="pull-left"><i class="fa fa-newspaper-o"></i></span><span class="center-block text-center">Recent News</span></h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    @if (Model.SitePosts.Any())
                    {
                        foreach (BlogPost post in Model.SitePosts)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="blog-post-sm">
                                            <h2 class="blog-post-title-sm text-left">
                                                <a href="@Url.SubRouteUrl("blog", "Blog.Post", new { username = post.Blog.User.Username, id = post.BlogPostId })" id="title_@post.BlogPostId">@Html.Markdown(post.Title)</a>
                                            </h2>
                                            <p class="blog-post-meta-sm text-left text-muted">
                                                Posted on <time datetime="@post.DatePosted.ToString("s")">@post.DatePosted.ToString("MMMM dd, yyyy")</time>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h4>No News Available</h4>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- Display Recent Podcasts -->
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="pull-left"><i class="fa fa-microphone"></i></span><span class="center-block text-center">Recent Podcasts</span></h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    @if (Model.Podcasts.Any())
                    {
                        foreach (Podcast podcast in Model.Podcasts)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="blog-post-sm">
                                            <h2 class="blog-post-title-sm text-left">
                                                <a href="@Url.SubRouteUrl("podcast", "Podcast.View", new { episode = podcast.Episode })" id="title_@podcast.PodcastId">@Html.Markdown(podcast.Title)</a>
                                            </h2>
                                            <p class="blog-post-meta-sm text-left text-muted">
                                                Posted on <time datetime="@podcast.DatePosted.ToString("s")">@podcast.DatePosted.ToString("MMMM dd, yyyy")</time>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h4>No Podcasts Available</h4>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
<!-- Display Recent Blog Posts -->
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="pull-left"><i class="fa fa-book"></i></span><span class="center-block text-center">Recent Blog Posts</span></h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    @if (Model.BlogPosts.Any())
                    {
                        foreach (BlogPost post in Model.BlogPosts)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="blog-post-sm">
                                            <h2 class="blog-post-title-sm text-left"><a href="@Url.SubRouteUrl("blog", "Blog.Post", new { username = post.Blog.User.Username, id = post.BlogPostId })" id="title_@post.BlogPostId">@Html.Markdown(post.Title)</a>
                                            </h2>
                                            <p class="blog-post-meta-sm text-left text-muted">
                                                Posted on <time datetime="@post.DatePosted.ToString("s")">@post.DatePosted.ToString("MMMM dd, yyyy")</time> by <a href="@Url.SubRouteUrl("user", "User.ViewProfile", new { username = post.Blog.User.Username })">@post.Blog.User.Username</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <h4>No Posts Available</h4>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>